### Lesson 1 of 1 : Key Learning Outcomes

#### KEY LEARNING OUTCOMES
Welcome to this Practical Skills Module on Python Programming Fundamentals.

This module will teach you to:

1. Master Python programming fundamentals, such as variables, data types, loops, functions, and conditional statements;
2. Discover how to use Jupyter Notebook for developing, presenting, and sharing data science projects;
3. Leverage key Python libraries, such as pandas for data wrangling and analysis, Matplotlib and Seaborn for data visualization, and Plotly Express for interactive data visualization in a financial context;
4. Perform portfolio optimization, run Monte Carlo simulations, and calculate portfolio returns, risks, and Sharpe ratios in Python; and
5. Obtain real-world financial data using pandas Datareader and Yahoo! Finance API in Python.

Watch the video to meet your instructor, Dr. Ryan Ahmed, and see an introduction to this module:

When you have watched the video, proceed to the next page, where you learn how to set up your environment and get a walk-through of Jupyter Notebook.

### ENVIRONMENT SETUP AND JUPYTER NOTEBOOK WALK-THROUGH
Watch the video to learn how to set up your environment and see a walk-through of Jupyter Notebook:

Here is the link you will need for the start of this unit:
* [Jupyter Notebook](https://courses.cfainstitute.org/courses/lab?courseslug=python-programming-fundamentals&notebookpath=notebooks/workspace/python-programming-fundamentals/release/Labs/Variables%20Assignment%2C%20Math%20Ops%20and%20Data%20Types.ipynb)(opens in a new tab)

You need to access the Jupyter Notebooks in order to follow along with all the examples and to complete the Practice Opportunities. The Notebooks will open in a separate tab. We recommend you view them side by side with the video in each lesson.

Below the video in each lesson, you will see a link like this: 

<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/PI%20Walkthrough%201.png?raw=true">

Click on the Coding Lab to open it. Please note that it may take up to five minutes to load the lab. If you still have difficulty accessing the Coding Lab after five minutes, you may download the Jupyter Notebook to run the exercise in your local environment.

There are several ways you can open the Notebook in other environments. For example, you can use Google Colab or Anaconda. Here are instructions for using these alternatives if you prefer not to use the embedded Coding Labs or encounter difficulty with them.

#### Google Colab is a cloud-based Jupyter Notebook environment that allows developers to run Python code and store their notebooks on Google Drive. Here are instructions to set it up:

* Step 1: **Download the Jupyter Notebook from the link in each lesson**. At the end of the lessons, there are zip files that contain the accompanying Notebooks. Download and save the files locally on your computer. Unzip the files.

* Step 2: **Access Google Colab**. Visit https://colab.research.google.com. Sign in with your Google account or create a new one if you don't have one. 

* **Step 3: Open the Jupyter notebook you have downloaded from the lesson**. Within Google Colab, click on New Notebook. Then, in the window that opens, click on File, click on Upload notebook, click Upload in the dialogue box, and then click the Choose File button to find and open the Jupyter Notebook. Please note that the images from the demonstration video may not load in Colab. However, you will still be able to execute the code in this environment as described in the video.

* **Step 4: Write and run code**. Write Python code in code cells. You can insert a code cell by clicking Insert and then Code Cell. To run a code cell, press Shift + Enter. 

* **Step 5: Save your Jupyter Notebook**. Click on File and then Save to save your Notebook. Your notebook will be saved to your Google Drive.

Remember, you do not have to access the Coding Labs through either of these methods as there is a link to the Coding Lab directly in each lesson that will open in a separate tab when you click it.

Once you have the relevant Notebook open, it should look something like this: 

<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/PI%20Walkthrough%202.png?raw=true">

If you scroll down, you will see some code cells that look like this: 

<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/PI%20Walkthrough%203.png?raw=true">

This is where you type Python code and execute (or run) it. If you want code to run, you must make sure the cell is selected by placing your cursor in it and then pressing SHIFT + ENTER. The result of the code then appears below that cell: 

<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/PI%20Walkthrough%204.png?raw=true">

If you wish to open another Notebook, then you must click File and then Open on the menu: 

<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/PI%20Walkthrough%205.png?raw=true">
You will then be able to navigate to the desired Notebook: 

<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/PI%20Walkthrough%206.png?raw=true">

However, if you wish to begin a brand new and clean Notebook, click File, then New Notebook, and then Python 3: 

<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/PI%20Walkthrough%207.png?raw=true">

You will then see a fresh Notebook with no code in it. 

Once you have accessed the Jupyter Notebook successfully, proceed to the next page, where you can review the FAQs (Frequently Asked Questions).

<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/PI%20Walkthrough%201.png?raw=true">

### UNIT 1 INTRODUCTION AND WELCOME MESSAGE
Welcome to this unit on Python Programming Fundamentals Part 1.

In this unit, you will learn about variable assignment, data types, and math operations. In addition, we will cover how to print a message to the screen and get user input. Please note that this is an introductory unit to Python and many of the operations could be performed in Excel.

There are three lessons in this unit:

* Lesson 1.1 - Variable Assignment, Math Operations, and Data Types
* Lesson 1.2 - Print Operations
* Lesson 1.3 - Get User Input

In this unit, you will learn to:

1. Define Python variables, assign values to them, and perform math operations;
2. Discern the differences among various data types in Python, such as integers, floating points, and Booleans;
3. Leverage the Python print() function to display a message to the screen;
4. Handle complex string formatting using Python’s string format() method;
5. Use the Python built-in input() function to get data from the user via the keyboard; and
6. Develop a Python application that can take data from the user, analyze it, and display a message to the screen.

Watch the video for an introduction to this unit:

### LESSON 1.1 VARIABLES ASSIGNMENT, MATH OPERATIONS AND DATA TYPES
Welcome to this lesson on variables assignments, data types, and math operations.

In Python, variables are used to hold values that could have several data types. Once these variables are defined, then you can perform math operations, such as addition, subtraction, or multiplication, on them.

Here are the key learning objectives of this lesson:

1. Define Python variables and assign values to them.
2. Perform math operations in Python.
3. Understand the differences among various data types in Python, such as integers, floating points, and Booleans.
To get started on the material, watch the demonstration video:

Now that you have an understanding of how to create variables, assign values to them, and perform operations on them, open up Jupyter Notebook and try the following practice opportunity.

Assume that you have \\$5,000 in your brokerage account, and you decide to invest the entire amount in Procter & Gamble (P&G) stock, which is trading at \\$142.5 per share. Complete the following tasks:

* Write some Python code that defines two variables for the account balance and P&G stock price. Feel free to select any valid variable names.
* Confirm variable data types.
* Calculate number of shares that you can buy with the available balance in your account.
* You can access the Coding Lab for this lesson using the following link (it will open in a new tab so you can follow * along with examples and do the practice opportunity):

[Click here to access the Coding Lab](https://courses.cfainstitute.org/courses/lab?courseslug=python-programming-fundamentals&notebookpath=notebooks/workspace/python-programming-fundamentals/release/Labs/Variables%20Assignment%2C%20Math%20Ops%20and%20Data%20Types.ipynb)

Note that it may take up to five minutes to load the lab. If you still have difficulty accessing the Coding Lab, download the Jupyter Notebook to run the exercise in your local environment (as described in the introductory lesson Environment Setup and Jupyter Notebook Walk-Through):

[Module 1, Unit 1, Lesson 1.zip](https://wmx-api-production.s3.amazonaws.com/courses/52662/supplementary/Module%201%2C%20Unit%201%2C%20Lesson%201.zip)

Once you have completed the practice opportunity, proceed to the next page, where the solution will be provided.

### LESSON 1.2 PRINT OPERATIONS PRACTICE OPPORTUNITY SOLUTION
Watch the video to see the solution to the practice opportunity:

Click here to view a full-screen version of the video:

[Print Operations Practice Opportunity Solution](https://players.brightcove.net/1183701590001/VtuC3Xc9K_default/index.html?videoId=6318418989112)

You may download a transcript of the video here:

In this lesson, you learned how to:

1. leverage the Python print() function to display a message to the screen;
2. handle complex string formatting using Python’s string format() method; and
3. print general print statements to the screen.

In the next lesson, you will learn how get data from the user using the input() function.

### LESSON 1.3 GET USER INPUT
Welcome to this lesson on getting user input.

In this lesson, you will learn how get data from the user using the input() function. The input() function is a built-in function in Python that is used to get data from the user via the keyboard. The data that the user will enter is stored as a string in a specific variable.

Here are the key learning objectives of this lesson:

1. Use Python’s built-in input() function to get data from the user via the keyboard.
2. Develop a simple application that can take data from the user, analyze the data, and display a message to the screen.
3. Perform type casting by changing a variable from one data type to another.
To get started on the material, watch the demonstration video:

Now that you have learned how to get input from the user and store it in a variable, try the following practice opportunity.

Assume that you work as a financial analyst and have been tasked with developing a Python application that analyzes securities using the capital asset pricing model (CAPM).

* Review the concept of CAPM, and write down the formula.
* Write some Python code that will receive beta for a given stock, the risk-free rate, and expected broad market return from the user and will print out the expected return on the stock. Round your answer to two decimal points.
* Perform a sanity check by comparing your answer with online CAPM calculators, such as this one: https://goodcalculators.com/capm-calculator/ (opens in a new tab).


The following is a sample code output:

* Please enter the name of the stock: Apple
* Enter the stock beta: 1.25
* Enter the risk-free rate of return in %: 4
* Enter the expected broad market rate of return in % (Example: S&P 500): 5.6
* Using the CAPM formula, the expected return on Apple stock = 6.0%
* *(You might need to change data types to perform math operations.)*

You can access the Coding Lab for this lesson by using the following link (it will open in a new tab so you can follow along with examples and do the practice opportunity):

Note that it may take up to five minutes to load the lab. If you still have difficulty accessing the Coding Lab, download the Jupyter Notebook to run the exercise in your local environment (as described in the introductory lesson Environment Setup and Jupyter Notebook Walk-Through):

### UNIT 1 END OF UNIT MESSAGE

Congratulations on reaching the end of Unit 1. You now know the basics of Python programming fundamentals, such as variables, print operations, and the input() function.

In the next unit, you will learn about Python lists, dictionaries, strings, comparison operators, and conditional statements. We will build on this knowledge in future units to build powerful applications in Python.

But before we move on, you will answer some questions to check your understanding of what you have learned in this unit. This knowledge check gives you the opportunity to gauge your overall comprehension of what you have learned so far. If you do not see the questions on the next page, please navigate to them using the Study Plan tab on the left panel. Note that you must answer all the questions in order to complete the module.

In [1]:
x = 1 
x = 4
x = 5
x = 8

x

8

In [2]:
name = "Dave"

age = 30

rate = 20

print("My name is {}, I am {} years old, and my hourly rate is ${}".format(name, age, rate))

My name is Dave, I am 30 years old, and my hourly rate is $20

In [4]:
name = input("Enter your monthly income: ")

type(name)

Enter your monthly income:  50

str

In [ ]:
type(name)

In [5]:
revenue = int(input("Enter sales revenue: "))

type(revenue)

Enter sales revenue:  50

int

<hr>

# UNIT 2 

<hr>

### UNIT 2 INTRODUCTION AND WELCOME MESSAGE

Welcome to this unit on Python Programming Fundamentals Part 2.

In the previous unit, we learned how to obtain data from the user, store this data in variables, perform math operations on those variables, and print the results to the screen.

In this unit, we will learn about key Python programming fundamentals, such as Python dictionaries, lists, and strings.

There are five lessons in this unit:

* Lesson 2.1 - Python Lists
* Lesson 2.2 - Python Dictionaries
* Lesson 2.3 - Python Strings
* Lesson 2.4 - Comparison Operators
* Lesson 2.5 - Conditional Statements

In this unit, you will learn to:

1. Define Python lists, understand their use cases, and use indexing and slicing to access one or more elements within the list;
2. Define Python dictionaries and learn how to access specific elements using their keys;
3. Apply comparison operators in Python to compare two operands with each other;
Understand conditional statements or if-else conditions in Python;
4. Develop a simple password authentication application in Python; and
5. Develop a Python application that can evaluate stocks and indicate whether they are overvalued, fairly valued, or undervalued.

### LESSON 2.1 PYTHON LISTS
In Python, lists are used to store multiple items in a single variable. These items are ordered and have a specific index. Python lists are powerful because they can contain items with different data types. For example, in a single list object, we can have integers, strings, and floating points.

In this lesson, you will learn to:

1. Define Python lists and understand their benefits and use cases,
2. Use indexing to access specific elements in Python lists, and
3. Perform list slicing to access a range of elements within the list.

To get started on the material, watch the demonstration video:

Now that you have seen how to create lists and perform operations on them, try the following practice opportunity.

Assume that you work as a financial analyst and you decide to list nine dividend-paying companies in the United States in a Python list named “dividend_companies” as shown:

```python
dividend_companies = [
'Pioneer Natural Resources Co. (ticker: PXD)',
'Lumen Technologies Inc. (LUMN)',
'Altria Group Inc. (MO)',
'Vornado Realty Trust (VNO)',
'Devon Energy Corp. (DVN)',
'AT&T Inc. (T)',
'Simon Property Group Inc. (SPG)',
'Verizon Communications Inc. (VZ)',
'Kinder Morgan Inc. (KMI)']
```

* Print the first, second, and fourth elements individually.
* Print the last element using three different methods. (External research is required.)
* Print (1) all elements in the list, (2) the first three elements, and (3) the last three elements.

You can access the Coding Lab for this lesson by using the following link (it will open in a new tab so you can follow along with examples and do the practice opportunity):

>Note that it may take up to five minutes to load the lab. If you still have difficulty accessing the Coding Lab, download the Jupyter Notebook to run the exercise in your local environment (as described in the introductory lesson Environment Setup and Jupyter Notebook Walk-Through):


Once you have completed the practice opportunity, proceed to the next page, where the solution will be provided.

### LESSON 2.1 PYTHON LISTS PRACTICE OPPORTUNITY SOLUTION
Watch the video to see the solution to the practice opportunity:

In this lesson, you learned how to:

1. Define Python lists and understand their benefits and use cases,
2. Use indexing to access specific elements in Python lists, and
3. Perform list slicing to access a range of elements within the list.

In the next lesson, you will learn about Python dictionaries.

### LESSON 2.2 PYTHON DICTIONARIES
In Python, dictionaries consist of a collection of key/value pairs that are unordered. The keys in Python dictionaries are unique. Note that the way we access elements in dictionaries is different from the way we access elements in lists. Dictionary elements are accessed using their keys, while list elements are accessed by their position in the list via indexing.

In this lesson, you will learn to:

1. Define Python dictionaries and understand their use case,
2. Access specific elements in Python dictionaries using their keys, and Add new items to and delete items from the dictionary.


Now that you are familiar with Python dictionaries and know how to define them, access specific elements in them, and add items to/remove items from them, try the following practice opportunity:

Assume that you work as a financial analyst at a pension fund. You decide to list the names of your three favorite technology stocks, along with their prices, in a Python dictionary.

* Define the Python dictionary; feel free to choose any technology stocks. You can use Yahoo! Finance, for example, to obtain the daily price of these securities. (*If you experience difficulty in accessing Yahoo! Finance, please try any alternative financial data provider*.)
* Calculate the average stock price in this dictionary.
* Now add two more stocks to the dictionary, update the dictionary, and calculate the new average using two different methods. (External research is required.)

You can access the Coding Lab for this lesson by using the following link (it will open in a new tab so you can follow along with examples and do the practice opportunity):

>Note that it may take up to five minutes to load the lab. If you still have difficulty accessing the Coding Lab, download the Jupyter Notebook to run the exercise in your local environment (as described in the introductory lesson Environment Setup and Jupyter Notebook Walk-Through):

<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/-pydic.png?raw=true">

In [6]:
# Python dictionaries consist of a collection of key-value pairs
# Each key-value pair maps the key to its corresponding value
# my_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3'}
# In dictionaries, elements are accessed using their keys

# Let's define a dictionary for a given investor 
# The dictionary consists of a collection of equity, fixed income and alternative investments
# Remember: 
# 1. Equity: Equity investments allow investors to hold partial ownership of companies in form of stocks
# 2. Fixed income: fixed-income securities such as bonds yield fixed amounts of cash flows at given dates
# 3. Derivatives: derivative is a security with a price derived from an underlying assets such as options 
# 4. Alternative investments: Non-traditional investments such as real-estate and commodities

investor_assets = {"Equity": 5000, "Fixed Income": 
                   1000, "Derivatives": 300} 
print(investor_assets)

{'Equity': 5000, 'Fixed Income': 1000, 'Derivatives': 300}

In [7]:
# Check the data type of the Python dictionary
type(investor_assets)

dict

In [9]:
# Let's assume that the investor would like to add alternative investments to their portfolio 
# Let's add a new item to an existing dictionary

investor_assets["Alternative Investments"] = 4000
print(investor_assets)

{'Equity': 5000, 'Fixed Income': 1000, 'Derivatives': 300, 'Alternative Investments': 4000}

In [10]:
# Remove an item from the dictionary
del investor_assets["Fixed Income"]
print(investor_assets)

{'Equity': 5000, 'Derivatives': 300, 'Alternative Investments': 4000}

**PRACTICE OPPORTUNITY:**
- **Assume that you work as a financial analyst at a pension fund. You decided to list the names of your 3 top favourite technology stocks along with their prices in a Python dictionary.**
    - **1. Define the Python dictionary, feel free to choose any technology stocks. You can use Yahoo finance to obtain the daily price of these securities** 
    - **2. Calculate the average stock price listed in this dictionary**
    - **3. Now assume that you want to add 2 more stocks to the previously created dictionary, update the dictionary and calculate the new average using two different methods (External research is required)**

In [57]:
tech_stocks = {"AAPL": 172.28, "TSLA": 170.83, "MSFT": 428.74}
print(tech_stocks)

{'AAPL': 172.28, 'TSLA': 170.83, 'MSFT': 428.74}

In [39]:
# Sum() function to sum the dictionary values

sum(tech_stocks.values())/len(tech_stocks)

257.28333333333336

In [58]:
tech_stocks.values()

dict_values([172.28, 170.83, 428.74])

In [59]:
sum(tech_stocks.values())

771.85

In [40]:
# Calculate the average stock price listed in this dictionary
771.85 / 3

257.28333333333336

In [41]:
# add 2 more stocks to the previously created dictionary, 
tech_stocks["META"] = 509.58
tech_stocks["NVDA"] = 942.89

In [50]:
print(tech_stocks)

{'AAPL': 172.28, 'TSLA': 170.83, 'MSFT': 428.74, 'META': 509.58, 'NVDA': 942.89}

In [42]:
len(tech_stocks)

5

In [49]:
# 1) calculate the new average using two different methods
# Method 1 (rounded)
round(sum(tech_stocks.values())/len(tech_stocks),2)

444.86

In [46]:
# 2) calculate the new average using two different methods 
# Method 2
print( (tech_stocks["AAPL"] + 
        tech_stocks["TSLA"] + 
        tech_stocks["MSFT"] + 
        tech_stocks["META"] + 
        tech_stocks["NVDA"] )/len(tech_stocks))

444.86400000000003

In [51]:
type(tech_stocks)

dict

### LESSON 2.2 PYTHON DICTIONARIES PRACTICE OPPORTUNITY SOLUTION
Watch the video to see the solution to the practice opportunity:

In this lesson, you learned how to:

1. Define Python dictionaries and understand their use case,
2. Access specific elements in Python dictionaries using their keys, and
3. Add new items to and delete items from dictionaries.

In the next lesson, you will learn about Python strings

### LESSON 2.3 PYTHON STRINGS
Welcome to this lesson on Python strings. In Python, a string is a sequence of characters that are enclosed by single or double quotation marks. Recall that we discussed strings before when we introduced the print() function.

In this lesson, you will learn to:

1. Define Python strings and understand their use case,
2. Concatenate two or more strings together, and
3. Apply string methods, such as `.split()` to split strings into a series of words and `.upper()` to convert strings from lowercase to uppercase.

Now that you have learned how to define Python strings, concatenate two or more strings, and apply various methods to them, try the following practice opportunity:

Assume that you work at a bank and you have been tasked with developing a Python code to obtain client feedback. Write a Python code that performs the following tasks:

Prompts client to enter their feedback regarding the service and
Splits the client input into words and prints them to the screen.
Then try the following:

* Test your code using three different user inputs.
* Expand your code to request the user to enter their email address. The code should prompt clients to enter their email and then extract the user’s first name only. (*Note that the email format is as follows: firstname.lastname@gmail.com.*)

You can access the Coding Lab for this lesson by using the following link (it will open in a new tab so you can follow along with examples and do the practice opportunity):

Note that it may take up to five minutes to load the lab. If you still have difficulty accessing the Coding Lab, download the Jupyter Notebook to run the exercise in your local environment (as described in the introductory lesson Environment Setup and Jupyter Notebook Walk-Through):

<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/-pystring.png?raw=true">

In [60]:
# A string in Python is a sequence of characters
# String can be enclosed by either double or single quotation marks
welcome_message = "Hello & Welcome to Python Programming Fundamentals Course!"
welcome_message

'Hello & Welcome to Python Programming Fundamentals Course!'

In [61]:
# Let's obtain the datatype
type(welcome_message)

str

In [62]:
# The .upper() method is used to convert the string into uppercase
welcome_message.upper()

'HELLO & WELCOME TO PYTHON PROGRAMMING FUNDAMENTALS COURSE!'

In [63]:
# The .split() method is used to divide up the string into words 
# The output from the .split() method is a list which is denoted by square bracket - []
words = welcome_message.split()
words

['Hello',
 '&',
 'Welcome',
 'to',
 'Python',
 'Programming',
 'Fundamentals',
 'Course!']

In [64]:
# Note that you split the string into words that are listed in a Python list
# Let's confirm the datatype!
type(words)

list

In [65]:
# You can specify which letter could be used to perform the split
words = welcome_message.split('&')
words

['Hello ', ' Welcome to Python Programming Fundamentals Course!']

In [66]:
# Combining two strings together (Let's combine the first and last name of an investor)
first_name = "Sarah" 
last_name = "David"
full_name = first_name + last_name
full_name

'SarahDavid'

In [67]:
# You can combine both strings together and add spaces in between
full_name = first_name + " " + last_name
full_name

'Sarah David'

**PRACTICE OPPORTUNITY:**
- **Assume that you work at a bank and you have been tasked to develop a Python code that asks clients to provide their feedback regarding the bank service and break their input into individual words. Write a Python code that performs the following tasks:** 
    - **1. Prompt client to enter his/her feedback regarding the service and obtains their input** 
    - **2. Split the client input into words and print them to the screen**
    - **3. Test your code using 3 different user inputs**
    - **4. Expand your code to request the user to enter his/her email address. The code should prompt clients requesting his/her e-mail and then extracts the user first name only (Note that the e-mail format is as follows: firstname.lastname@gmail.com)**

In [29]:
# Prompt client to enter their feedback regarding service 
# Don't split words
promptclient = input("Bienvenido el banco del Mikito, Que quires hacer hoy dia?")

Bienvenido el banco del Mikito, Que quires hacer hoy dia? I want a withdrawal

In [21]:
# Prompt client to enter their feedback regarding service 
# Obtains their input

promptclient = input("Bienvenido el banco del Mikito, Que quires hacer hoy dia?")
words = promptclient.split(" ")
print("Print the list of words users entered:", words)

Bienvenido el banco del Mikito, Que quires hacer hoy dia? Help

Print the list of words users entered: ['Help']

In [22]:
promptclient = input("Bienvenido el banco del Mikito, Que quires hacer hoy dia?")
words = promptclient.split(" ")
print("Print the list of words users entered:", words)

Bienvenido el banco del Mikito, Que quires hacer hoy dia? Ayudame

Print the list of words users entered: ['Ayudame']

In [23]:
promptclient = input("Bienvenido el banco del Mikito, Que quires hacer hoy dia?")
words = promptclient.split(" ")
print("Print the list of words users entered:", words)

Bienvenido el banco del Mikito, Que quires hacer hoy dia? quiero ver mis ganancias!

Print the list of words users entered: ['quiero', 'ver', 'mis', 'ganancias!']

In [24]:
# Part 4
# Expand your code to request the user to enter his/her email address.
# The code should prompt clients requesting his/her e-mail 
# and then extracts the user first name only!
# (Note that the e-mail format is as follows: firstname.lastname@gmail.com)

email = input("Por favor, entra tu correo electronico")
out = email.split("@")
# electronicomikito@bancodelmikitoSAC.com.pe

Por favor, entra tu correo electronico mikito@bancodelmikitoSAC.com.pe

In [25]:
type(out)

list

In [26]:
len(out)

2

In [27]:
out[0]

'mikito'

In [28]:
# Obtained from solutions

# We will perform the split on the first list element only
# i.e. remove the quote marks using split()
removequotes = out[0].split('.')
print(removequotes[0])

mikito

### LESSON 2.4 COMPARISON OPERATORS
Assignment operators assign a value to a variable, whereas comparison operators compare two values and return True or False. Please note that comparison operators are very useful when dealing with if-else statements and while loops (covered in later lessons).

In this lesson, you will learn to:

1. Apply comparison operators in Python to compare two operands with each other,
2. Understand the difference in syntax between comparison operators and assignment statements, and


Now that you know how to compare operands in Python and understand comparison versus assignment operators and Boolean data types, try the practice opportunity:

* Without executing it, predict what this code will generate.
```python
revenue_A = 2500
revenue_B = 2000
print(revenue_A == revenue_B)
print(revenue_A != revenue_B)
print(revenue_A > revenue_B)
print(revenue_A < revenue_B)
```
* Run the code, and confirm that you have the correct answer.

<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/-compareops.png?raw=true">

<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/-compareops2.png?raw=true">

In [30]:
# Comparison Operator output could be "True" or "False"
# Let's assume that we want to compare two companies revenue: Company A and Company B
# Let's cover equal '==' comparison operator first
# It's simply a question: "Is revenue_A equals to revenue_B or not?"
# "True" output means condition is satisfied 
# "False" output means condition is not satisfied (condition is not true) 

revenue_A = 1000
revenue_B = 1000

# Compare revenue for company A to B 
print(revenue_A == revenue_B)

True

In [31]:
# Greater than or equal operator '>='
revenue_A = 5000
revenue_B = 1000
revenue_A >= revenue_B

True

In [32]:
# Note that '==' is a comparison operator 
# Note that '=' is used for variable assignment (put 10 in revenue_A)
revenue_A = 10

In [33]:
revenue_A

10

In [34]:
# Not equal comparison operator is defined as follows: '!='

revenue_A = 1000
revenue_B = 1000
revenue_A != revenue_B

False

**PRACTICE OPPORTUNITY:**
- **1. Without executing the following code, what will this code generate?**

```python
    revenue_A = 2500
    revenue_B = 2000

    print(revenue_A == revenue_B) 
    print(revenue_A != revenue_B) 
    print(revenue_A > revenue_B)
    print(revenue_A < revenue_B) 
```
- **2. Run the code and confirm that you have the correct answer**

In [36]:
# Additional information from: "https://networklessons.com/python/python-comparison-operators"
revenue_A = 2500
revenue_B = 2000

print(revenue_A == revenue_B) 
print(revenue_A != revenue_B) 
print(revenue_A > revenue_B)
print(revenue_A < revenue_B)

False
True
True
False

### LESSON 2.5 CONDITIONAL STATEMENTS
Conditional statements, also known as if-else statements, contain a body of code that runs only when the condition in the if statement is true. If the condition is false, the else statement will be executed.

In this lesson, you will:

1. Understand conditional, or if-else, statements in Python,
2. Develop a simple password authentication application, and
3. Develop a Python application that can evaluate stocks and indicate whether they’re overvalued, fairly valued, or undervalued.

Now that you have learned to branch using an if-else statement, try the practice opportunity:

Consider a company, XYZ Inc., whose stock is currently trading at \\$64 per share. The company requires a 14\% minimum rate of return $(r)$ and pays a dividend of \\$2 dividend per share this year $(D_0)$, which is expected to increase by 10% annually $(g)$.

* Review the dividend discount model, and write down the formula.
* Calculate the intrinsic value (P) of the stock.
* Assume that you are evaluating whether to invest in XYZ Inc. or not. Write a Python code that compares the current intrinsic value with the stock price and prints out one of the following recommendations: overvalued, undervalued, or fairly valued.
* Expand the code so users can enter the current stock price, minimum rate of return, current dividend, * and annual growth and print out the recommendation to the screen.
* Sample code output:

```
Enter this year’s dividend: 2
Enter the company’s expected dividend growth: 0.1
Enter the company’s cost of equity: 0.14
Enter the current stock price: 64
The company value based on the dividend discount model = $55.0
The stock is overvalued; you should not invest in this company stock.
```

<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/-ifelse.png?raw=true">
<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/-ifelse2.png?raw=true">

In [37]:
# Let's assume that we want to compare two companies' revenue - company A and company B
# Note that you will need to validate each branch in the If-else condition

revenue_A = 2000
revenue_B = 2000

if revenue_A > revenue_B:
    print('Company A generates more revenue compared to Company B')
elif revenue_A < revenue_B:
    print('Company B generates more revenue compared to Company B')
else:
    print('Company A generates equal revenue to Company B')

Company A generates equal revenue to Company B

In [38]:
# A code that indicates if a number is even or odd 
# Note that the mod % is used to calculate the remainder from the division operation 
x = int(input("Please enter an integer from 1 to 1000: "))

if x % 2 == 0:
    print('Number is even')
else:
    print('Number is odd')

Please enter an integer from 1 to 1000:  5

Number is odd

In [39]:
# You can also compare two strings 
# Let's develop a username and password authentication code 
# The code obtains the username and password from the user and grants or denies access accordingly

username = input('Welcome to the bank, please enter your username:')
password = input('please enter your password:')

# Note that "and" is a logical operator that generates "True" of both conditions are "True"
if username == 'RyanAhmed' and password =='123$abc':
    print("Access granted")
else:
    print("Access denied, please try again")

Welcome to the bank, please enter your username: Michael E
please enter your password: sdcjnsdcjnde

Access denied, please try again

**PRACTICE OPPORTUNITY:**
- **Consider a company XYZ Inc. whose stock is currently trading at \\$64 per share. The company requires a 14\% minimum rate of return $(r)$ and pays a dividend of \\$2 dividend per share this year $(D0)$, which is expected to increase by 10\% annually $(g)$.**

    - **1. Review the Dividend Discount Model and write down the formula**
    - **2. Calculate the intrinsic value $(P)$ of the stock**
    - **3. Assume that you are evaluating whether to invest in XYZ Inc. or not. Write a Python code that compares the current intinsic value to the stock price and prints out one of the following recommendations: overvalued, undervalued, or fairly valued** 
    - **4. Expand the code so users can enter the current stock price, minimum rate of return, current dividend, and annual growth and print out the recommendation to the screen**
    
    
- **A sample code output is as shown below:**
    - Enter this year's dividend: 2
    - Enter the company's expected dividend growth: 0.1
    - Enter the company's cost of equity: 0.14
    - Enter the current stock price: 64
    - The stock value based on the Dividend Discount Model = $55.0
    - Stock is overvalued, you should not invest in this stock

<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/-ifelse3.png?raw=true">

In [52]:
# Enter recent MOC stock price.
P = 64

$P = \Large\frac{D_1}{(r-g)} = \frac{D_0(1+g)}{r-g}$

In [51]:
# Inputs for Dividend discount model (above)

# Dividend D0
D0 = 2

# costant g price increase or expected dividend price increase (pct)
g = 0.1

# cost of equity
r = 0.14

# Calculate next year's dividend D1
D1 = D0 * (1 + g)

# Dividend Discount Model to calculate next year's dividend (D1)
D11 = D1/(r-g)

# Print clean output
print("The stock value based on the Dividend Discount Model = ${}".format(round(D11, 2)))

The stock value based on the Dividend Discount Model = $55.0

In [53]:
if P > D11:
    print("Stock is overvalued, you Should not invest in this stock")

elif P < D11:
    print("Stock is undervalued, you Should invest in this stock")
    
else:
    print('Stock is fairly valued')

Stock is overvalued, you Should not invest in this stock

In [59]:
# Used help from solutions because confused about float

# Note that float has been used instead of integer (int) datatype since user inputs could have decimal points
D0 = float(input("Enter this year's dividend: "))
g  = float(input("Enter the company's expected dividend growth: "))
r  = float(input("Enter the company's cost of equity: "))
P  = float(input("Enter the current stock price: "))


# Let's calculate next year's dividend dividend_1
D1 = D0 * (1 + g)


# Perform stock valuation using the dividend discount model 
D11 = D1 / (r - g) 
print("The stock value based on the Dividend Discount Model = ${}".format(round(D1, 2)))


# Compare the stock valuation (based on the dividend growth model) to the current stock price

if P > D1:
    print("Stock is overvalued, you Should not invest in this stock")

elif P < D1:
    print("Stock is undervalued, you Should invest in this stock")

else:
    print('Stock is fairly valued')

Enter this year's dividend:  100
Enter the company's expected dividend growth:  1
Enter the company's cost of equity:  .14
Enter the current stock price:  55

The stock value based on the Dividend Discount Model = $200.0
Stock is undervalued, you Should invest in this stock

<hr>

### UNIT 3 INTRODUCTION AND WELCOME MESSAGE
Welcome to this unit on Python Programming Fundamentals Part 3.

So far, we have learned how to obtain data from the user using the `input()` function, perform math operations, and print data to the screen using the `print()` function. We also learned about the syntax and use cases of Python lists, dictionaries, and strings and how to make decisions using `if-else` statements.

In this unit, we will cover key Python programming fundamentals, such as loops and functions. Loops allow us to write a block of code once and then repeat it as many times as needed. Functions represent blocks of code that perform specific tasks, and you can call them, send them arguments, and receive data from them.

There are five lessons in this unit:

* Lesson 3.1 - `“For”` Loops
* Lesson 3.2 - Python `Range()` Function
* Lesson 3.3 - `“While”` Loops
* Lesson 3.4 - Functions
* Lesson 3.5 - Python Built-In Functions

In this unit, you will learn to:

1. Describe the syntax and use cases of "for" and "while" loops in Python;
2. Describe the use case of the range() function and how it could be used with for loops;
3. Describe the syntax and use cases of functions in Python;
4. Learn how to call Python functions, send them arguments, and receive data from them;
5. Develop a function that calculates the future value of money given the present value, annual interest rate, number of years, and number of compounding periods; and
6. Leverage pre-defined Python built-in functions.

### LESSON 3.1 “FOR” LOOPS
Welcome to this lesson on "for" loops. Python loops are powerful because they allow coders to shorten thousands of lines of code to just a few lines. Loops allow us to write a block of code once and then repeat it as many times as needed.

This lesson will help you:

* Understand the syntax of "for" loops in Python,
* Write "for" loops that iterate over Python lists, and
* Use "for" loops to iterate over characters of a Python string.

Now that you have met the Python "for" loop, attempt the following practice opportunity.

* Write some Python code that performs the following tasks:
    * Defines a list named “my_list” that contains the following values: 10, 5, 3.
    * Multiplies all elements in the list using "for" loops.

* Confirm your answer by leveraging the multiplication operation defined in the math module. (External research is required.)

<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/-forloops.png?raw=true">

In [72]:
# Let's define a python list that contains 4 different company names - A, B, C, and D  
company_names = ['Company A', 'Company B', 'Company C', 'Company D']
company_names

['Company A', 'Company B', 'Company C', 'Company D']

In [73]:
# Now we want to print all company names listed in "company_names" list
# We can repeat the print function several times as shown below 
# This strategy involves writing many lines of code that perform the same "print" operation
# Recall that python lists start with index = 0 
print(company_names[0])
print(company_names[1])
print(company_names[2])
print(company_names[3])

Company A
Company B
Company C
Company D

In [74]:
# Alternatively, we can use loops to generate the same output
# We can loop over company_names list and print them to the screen using for loops 
# Note that "i" is a temporary variable that is used within the "For" loop to carry company names
for i in company_names:
    print(i)

Company A
Company B
Company C
Company D

In [75]:
# We can also loop over a Python list that contains integers or floating points 
# Let's define another python list that contains revenues from companies listed in "company_names" list 
# i.e.: Company A revenue is 600000 
# i.e.: Company D revenue is 1100000
company_revenues = [600000, 900000, 1000000, 1100000]
company_revenues

[600000, 900000, 1000000, 1100000]

In [76]:
# Let's loop over all company revenues and add them up
# We can do this using "For" loops as well 

# Define an accumulator and initialize it to zero
total_revenue = 0

for i in company_revenues:
    total_revenue = total_revenue + i
    
total_revenue

3600000

In [77]:
# Note that alternatively we can use the sum function to sum up all elements in the list 
sum(company_revenues)

3600000

In [78]:
# We can also use "For" loops to iterate over characters of a Python string
message = 'Welcome to Python Programming Fundamentals Course'
for character in message:
    print(character)

W
e
l
c
o
m
e

t
o

P
y
t
h
o
n

P
r
o
g
r
a
m
m
i
n
g

F
u
n
d
a
m
e
n
t
a
l
s

C
o
u
r
s
e

**PRACTICE OPPORTUNITY:** 
- **Write a python code that performs the following tasks:** 
    - **1. Defines a list named "my_list" that contains the following values: 10, 5, 3**
    - **2. Multiplies all elements in the list using for loops**
    - **3. Confirm your answer by leveraging the multiplication operation defined in the math module [External Research is Required]**

In [80]:
# Define my_list
my_list = [10, 5, 3]
my_list

[10, 5, 3]

**The anatomy of the accumulation pattern includes:**
* initializing an “accumulator” variable to an initial value (such as 0 if accumulating a sum)
* iterating (e.g., traversing the items in a sequence)
* updating the accumulator variable on each iteration  (i.e., when processing each item in the sequence)

`source:` https://runestone.academy/ns/books/published/fopp/Iteration/TheAccumulatorPattern.html

In [95]:
# The anatomy of the accumulation pattern includes:
# initializing an “accumulator” variable to an initial value (such as 0 if accumulating a sum)
# iterating (e.g., traversing the items in a sequence)
# updating the accumulator variable on each iteration (i.e., when processing each item in the sequence)
# source: https://runestone.academy/ns/books/published/fopp/Iteration/TheAccumulatorPattern.html

# Initialize the iteration step to 1 (accumulator)
accumulator = 1  # if set to 0 everything goes to 0

# iterate i in my_list
for i in my_list:
    accumulator = accumulator * i

accumulator

150

The `math.prod` function calculates the product of all elements of the iterable included as the first argument. The start parameter determines the first value to consider in the multiplication.

If the iterable is empty, the value start is returned.

**PARAMETERS**
* iterable: Iterable whose elements you want to multiply. These can be whole, real, or complex numbers.

* start: First value to consider in the multiplication. By default it takes the value 1.

```python
math.prod(iterable, start = 1)
```

In [90]:
import math
math.prod(my_list)

150

### LESSON 3.2 PYTHON `RANGE()` FUNCTION
The `range()` function generates a sequence of numbers that starts with 0 by default, increases by increments of 1, and stops before a specified number.

For example, if I say `range(5)`, the function will generate a sequence of numbers from `0` to (but not including) `5`, so: `0, 1, 2, 3,` and `4`.

The `range()` function works well with "for" loops. Because `range()` generates a list of numbers, we iterate over them using "for" loops.

In this lesson, you will:

1. Understand the use case of the `range()` function and how it can be used with `"for"` loops,
2. Learn how to generate a reversed list of numbers, and
3. Learn how to change the step size in the `range()` function.

Now that you have explored how to use the range() function, try the range() function practice opportunity:

* Write some Python code that performs the following tasks:

    * Defines the following two lists:
```python    
stocks_names = ['Apple', 'Samsung', 'Alibaba', 'Novo Nordisk', 'Naspers']
stock_prices = [142, 45, 12, 125, 30]
```

* Obtains the total number of elements in the `“stock_names”` list.
* Prints out stock names along with their corresponding prices in reversed order. The code should leverage `"for"` loops and the range() function. (*External research is required.*)

* The output should be as follows:

```python
index = 4
The price of Naspers stock = $30
index = 3
The price of Novo Nordisk stock = $125
index = 2
The price of Alibaba stock = $12
index = 1
The price of Samsung stock = $45
index = 0
The price of Apple stock = $142
```

* Prints out stock names and prices that are located in even index positions only and in reverse order. The code output should be as follows:

```python
index = 4
The price of Naspers stock = $30
index = 2
The price of Alibaba stock = $12
index = 0
The price of Apple stock = $142
```

<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/-range.png?raw=true">

In [96]:
# range() generates a list of numbers that are used to iterate over "For" loops
# The last integer generated by range() is up to, but not including, the last element
# Example: range(0, 4) generates integers from 0 up to, but not including, 4
for i in range(0, 4):
    print(i)

0
1
2
3

In [97]:
# Note that range indexing starts at 0 by default
# range() is 0-indexed based meaning that numbers start at 0 and not 1. 
for i in range(4):
    print(i)

0
1
2
3

In [98]:
# Note that you can also add an optional parameter to indicate the step size 
for i in range(0, 4, 2):  # Step size 2
    print(i)

0
2

In [99]:
# Let's define two lists containing the company names along with their corresponding revenues for a given year
company_names    = ['Company A', 'Company B', 'Company C','Company D']
company_revenues = [600000, 900000, 1000000, 1100000]

In [100]:
# Let's print out the first company name along with its corresponding revenue 
# Recall that indexing in Python lists starts with 0 and not 1
print('The revenue of {} is = ${}'.format(company_names[0], company_revenues[0]))

The revenue of Company A is = $600000

In [101]:
# When we use range(), we need to know the length of the Python list that we would be iterating over
print(len(company_names))

4

In [102]:
# Let's use range() to print out the company names and their corresponding revenues 
for i in range(len(company_names)):
    print('index = {}'.format(i))
    print('The Revenue of {} is = ${}'.format(company_names[i], company_revenues[i]))

index = 0
The Revenue of Company A is = $600000
index = 1
The Revenue of Company B is = $900000
index = 2
The Revenue of Company C is = $1000000
index = 3
The Revenue of Company D is = $1100000

In [103]:
# Let's assume we want to print companies that only have even index within the list
for i in range(0, len(company_names), 2):
    print('index = {}'.format(i))
    print('The Revenue of {} is = ${}'.format(company_names[i], company_revenues[i]))

index = 0
The Revenue of Company A is = $600000
index = 2
The Revenue of Company C is = $1000000

**PRACTICE OPPORTUNITY:** 
- **Write a python code that performs the following tasks:** 
     - **1. Defines the two lists below:**   
            stocks_names = ['Apple', 'Samsung', 'Alibaba', 'Novo Nordisk', 'Naspers']
            stock_prices = [142, 45, 12, 125, 30]
     - **2. Obtains the total number of elements in the "stock_names" list**
     - **3. Prints out stock names along with their corresponding prices in reversed order. The code should leverage "for" loops and range() function. The output should be as follows [External research is required]:**
            
            index = 4
            The price of Naspers stock = $30
            
            index = 3
            The price of Novo Nordisk stock = $125
            
            index = 2
            The price of Alibaba stock = $12
            
            index = 1
            The price of Samsung stock = $45
            
            index = 0
            The price of Apple stock = $142
            
     - **4. Prints out stock names and prices that are located in even index positions only and in reversed order. The code output should be as follows:**

            index = 4
            The price of Naspers stock = $30
            
            index = 2
            The price of Alibaba stock = $12
            
            index = 0
            The price of Apple stock = $142

In [110]:
# Define stock names
stock_names = ['Apple', 'Samsung', 'Alibaba', 'Novo Nordisk', 'Naspers']
stock_prices = [142, 45, 12, 125, 30]

In [112]:
len(stock_names)

5

In [130]:
# Let's use range() to print out the company names and their corresponding stock prices 
for i in range(len(stock_names)):
    print('index = {}'.format(i))
    print('The Revenue of {} is = ${}'.format(stock_names[i], stock_prices[i]))

index = 0
The Revenue of Apple is = $142
index = 1
The Revenue of Samsung is = $45
index = 2
The Revenue of Alibaba is = $12
index = 3
The Revenue of Novo Nordisk is = $125
index = 4
The Revenue of Naspers is = $30

**What is Backward Iteration?**
Backward iteration in Python refers to the process of iterating through a sequence or collection in reverse order, moving from the last element to the first. This is often useful when we need to access elements in the opposite order of their original arrangement. Python provides various mechanisms for backward iteration, such as using negative indexing or employing built-in functions like 
```python 
reversed()
```

Sources:  
* $^1$ https://www.geeksforgeeks.org/backward-iteration-in-python/
* $^2$ https://stackoverflow.com/questions/529424/traverse-a-list-in-reverse-order-in-python

In [131]:
# Prints out stock names and prices that are located in even index positions only and in reversed order.
#The code output should be as follows:

for i in reversed(range(len(stock_names))):
    print('index = {}'.format(i))
    print('The Revenue of {} is = ${}'.format(stock_names[i], stock_prices[i]))

index = 4
The Revenue of Naspers is = $30
index = 3
The Revenue of Novo Nordisk is = $125
index = 2
The Revenue of Alibaba is = $12
index = 1
The Revenue of Samsung is = $45
index = 0
The Revenue of Apple is = $142

In [132]:
# Prints out stock names and prices that are located in even index positions only and in reversed order.
#The code output should be as follows:
for i in range(0, len(stock_names), 2):
    print('index = {}'.format(i))
    print('The Revenue of {} is = ${}'.format(stock_names[i], stock_prices[i]))

index = 0
The Revenue of Apple is = $142
index = 2
The Revenue of Alibaba is = $12
index = 4
The Revenue of Naspers is = $30

### LESSON 3.3 “WHILE” LOOPS
"While" loops continuously repeat a block of code as long as a given condition is held true. When the condition in the "while" loop becomes false, the program control passes to the code line immediately following the loop.

In this lesson, you will:

1. Understand the syntax and use cases of "while" loops.
2. Learn how to use the break keyword to exit "while" loops.
3. Learn how to generate an infinite "while" loop.


Now that you have an understanding of how to create "while" loops, try the following practice opportunity.

* Write some Python code that performs the following tasks:

    * Takes in the present value, annual interest rate, and expected future value from the user.
    * Calculates the total number of years it would take to reach a given expected future value, rounds your answer to the nearest year, and prints it to the screen.
    * Prints the future value at the end of each year as shown below.

* Perform a sanity check using an online financial calculator (example: [Link calculator](https://www.calculator.net/finance-calculator.html).

Sample expected output:

```python
Enter the amount of funds you would like to invest today in dollars (Present Value, or PV): 1000
Enter the annual interest rate: 0.1
Enter the total dollar amount you would like to have in the future (Future Value, or FV): 2000

PV in Year 0 (now) = $1000.0
FV in Year 1 = $1100.0
FV in Year 2 = $1210.0
FV in Year 3 = $1331.0
FV in Year 4 = $1464.1
FV in Year 5 = $1610.5
FV in Year 6 = $1771.6
FV in Year 7 = $1948.7
FV in Year 8 = $2143.6

It would take around eight years to reach a future value greater than $2,000.00.
```
<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/-whyloops.png?raw=true">

In [140]:
# "While" loops continuously repeat a block of code as long as a given condition is held “True”
# Let's initialize a counter "i" by placing zero in it
i = 0 # Less than or = to 3

while i <= 3:  # if 100 it iterates to 100 --- stops at 3 here.
    print(i)
    i = i + 1

0
1
2
3

$FV = PV + (I/Y \times PV)$

$FV = 1000 + (0.1 \times 1000)$

In [143]:
# Let's calculate the Future Value (FV) of a lump sum of money 
# Assume that today we put $1000 in an account that pays 10% annually  
# We leave this money to grow for one year
# Note that the interest rate of 10% is represented in code as 0.1

# Let's define the Present Value "PV" and the annual interest rate "interest_rate"
PV = 1000
interest_rate = 0.1

# Calculate the future value (FV) as follows:
FV = PV + (interest_rate * PV)
print(FV)

1100.0

In [149]:
# Now let's assume that we put the same $1000 in an account that pays 10% annually and leave it for 3 years
# We would like to see what would be the future value after each year
# We can use while loops to iterate over a pre-defined number of years
# You can confirm your answer using the future value calculator: https://www.calculator.net/future-value-calculator.html

years         = 1 # initial value
amount        = 1000
interest_rate = 0.1

while years <= 3:  # Add on years to see interest iterated
    amount = amount + (interest_rate * amount)
    print('The Future value in year {} = ${}'.format(years, amount))
    years = years + 1

The Future value in year 1 = $1100.0
The Future value in year 2 = $1210.0
The Future value in year 3 = $1331.0

In [ ]:
# Now let's assume that we put the same $1000 in an account that pays 10% annually and leave it for 3 years
# We would like to see what would be the future value after each year
# We can use while loops to iterate over a pre-defined number of years
# You can confirm your answer using the future value calculator: https://www.calculator.net/future-value-calculator.html

years         = 1 # initial value
amount        = 1000
interest_rate = 0.1

while years <= 3:
    amount = amount + (interest_rate * amount)
    print('The Future value in year {} = ${}'.format(years, amount))
    years = years + 1

In [ ]:
# "While True" could be used to repeat a block of code forever! 
# "break" is used to break the loop
# Let's assume we want to keep doubling a variable with every iteration until the total value reaches $1000 and then we exit

# Define the starting dollar amount = 1 

x = 1

while True:
    x = x * 2 # Double the amount
    print('Value = {}'.format(x))
    if x > 1000:
        break

**PRACTICE OPPORTUNITY SOLUTION:**

- **Write a Python code that performs the following tasks:** 
     - **1. Takes in the present value, annual interest rate and expected future value from the user.** 
     - **2. Calculates the total number of years it would take to reach a given expected future value. Round your answer to the nearest year and print it to the screen.**
     - **3. Prints the future value at the end of each year as shown below.**
     - **4. Perform a sanity check using an online financial calculator. Example: https://www.calculator.net/finance-calculator.html**
     
     
- **Sample Expected Output:** 
    
        Enter the amount of funds you would like to invest today in dollars (Present Value (PV)): 1000
        Enter the annual interest rate: 0.1
        Enter the total dollar amount you would like to have in the future (Future Value (FV)): 2000
        
        The Present Value (PV) in year 0 (now) = $1000.0
        
        Future Value (FV) in year 1 = $1100.0
        
        Future Value (FV) in year 2 = $1210.0
        
        Future Value (FV) in year 3 = $1331.0
        
        Future Value (FV) in year 4 = $1464.1
        
        Future Value (FV) in year 5 = $1610.5
        
        Future Value (FV) in year 6 = $1771.6
        
        Future Value (FV) in year 7 = $1948.7
        
        Future Value (FV) in year 8 = $2143.6
        
        It would take around 8 years to reach a future value greater than 2000.0

In [ ]:
# Note that amount is the Present Value 
# You can name the variable "present_value" instead of "amount"

amount = float(input("Enter the amount of funds you would like to invest today in dollars (Present Value (PV)): "))
interest = float(input("Enter the annual interest rate: "))
future_value = float(input("Enter the total dollar amount you would like to have in the future (Future Value (FV)): "))

years = 1

print('The Present Value (PV) in year 0 (Now) = ${}'.format(round(amount, 1)))


while True:
    amount = amount + (interest * amount)
    print('Future Value (FV) in year {} = ${}'.format(years, round(amount, 1)))
    
    # Condition to break the loop here
    if amount > future_value:
        print('It would take around {} years to reach a future value greater than {}'.format(years, future_value))
        break
    years = years + 1

### LESSON 3.4 FUNCTIONS
In Python, functions represent a block of code that performs a specific task. You can call a Python function, send it data, and receive results from it.

Functions are extremely powerful, and they are an essential part of the Python programming language. They offer many advantages because they allow users to create a reusable code that can be called multiple times and executed when needed, thereby improving code efficiency. They can break down long code scripts into smaller ones for better code structure, readability, management, and debugging.

This lesson will help you:

1. Understand the syntax of writing functions in Python;
2. Learn how to set default function arguments;
3. Call functions, send them arguments, and receive data from them; and
4. Develop a simple function that calculates the future value of money given the present value, annual interest rate, number of years, and the number of compounding periods.


Now that you have learned to harness the power of functions in Python, try the following practice opportunity.

Assume that you have been tasked to develop a Python function that calculates the effective annual rate (EAR) of return. EAR considers the effect of compounding within the year and can be calculated from the nominal (or stated) annual rate of return (𝑖) using the following formula:

$\Large\text{EAR} = (1 + i/m)^m - 1,$


where $𝑚$ represents the number of compounding periods per year.

**Complete the following tasks:**

1. Define a Python function that calculates the effective annual rate of return. The function should receive the nominal (stated) annual rate and the number of compounding periods per year.
2. Assume that you deposited \\$1,000 today into an account paying 10\% compounded quarterly. Calculate the effective annual rate of return using the function defined in Task 1. Round your answer to four decimal places.
3. Calculate the amount of interest you would have earned by the end of the year. Round your answer to four decimal places.
4. Repeat Tasks 2 and 3, but with interest compounded monthly.

<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/-functions.png?raw=true">

In [1]:
# Define a function named "my_sum"
# The function receives two numbers and adds them up 
# def is the keyword used to create a function followed by the name of the function

def my_sum(x, y):
    z = x + y
    return z

In [2]:
# Function call
my_sum(5, 7)

12

<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/-FV.png?raw=true">

In [19]:
# Let's define a function named "calculate_FV" that takes in: 
    # 1. present value
    # 2. interest rate
    # 3. number of years 
    # 4. number of compounding periods per year 

# The function returns the future value
def calculate_FV(PV, i, n, m):
    return PV * ( 1 + (i / m)) ** (m * n)

In [27]:
# Let's calculate the future value of money given: 
    # present value = $100,000 
    # interest rate (i) = 10%
    # number of years (n) = 5 
    # interest is compounded annually (ie: m = 1)

# Let's confirm our answer using this online calculator: 
# https://www.calculatorsoup.com/calculators/financial/future-value-investment-calculator.php
# Test the function using a different interest rate of 15%

PV = float(input("Enter the present value: ")) 
i = float(input("Enter the annual interest rate: "))
n = float(input("Enter the number of years: "))
m = float(input("Enter the number of compounding periods: "))

Enter the present value:  100000
Enter the annual interest rate:  .1
Enter the number of years:  5
Enter the number of compounding periods:  1

In [28]:
# This is the function call
FV = calculate_FV(PV, i, n, m,)
print('The FV of ${} after {} years and {} compounding periods per year at {}% interest rate = ${}'.format(PV, 
                                                                                                     n,
                                                                                                     m,
                                                                                                     i * 100, 
                                                                                                     round(FV, 2)))

The FV of $100000.0 after 5.0 years and 1.0 compounding periods per year at 10.0% interest rate = $161051.0

In [25]:
FV = calculate_FV(PV = 100000, i =.1, n=5, m=12,)

print('The FV of ${} after {} years and {} compounding periods per year at {}% interest rate = ${}'.format(PV, 
                                                                                                     n,
                                                                                                     m,
                                                                                                     i * 100, 
                                                                                                     round(FV, 2)))

The FV of $100000 after 5 years and 12 compounding periods per year at 10.0% interest rate = $164530.89

**PRACTICE OPPORTUNITY:** 
- **Assume that you have been tasked to develop a Python function that calculates the Effective Annual Rate (EAR) of return. EAR considers the effect of compounding within the year and can be calculated from nominal (or stated) annual rate of return ($i$) using the following formula:**

$$EAR = (1+i/m)^m -1$$

- **Where $m$ represents the number of compounding periods per year.**

- **Complete the following tasks:**
    - **1. Define a Python function that calculates the effective annual rate of return. The function should receive the nominal (stated) annual rate and the number of compounding periods per year.** 
    - **2. Assume that you deposited $1,000 today into an account paying 10% compounded quarterly. Calculate the effective annual rate of return using the function defined in task 1. Round your answer to 4 decimal places.** 
    - **3. Calculate the amount of interest you would have earned by the end of the year. Round your answer to 4 decimal places.**
    - **4. Repeat steps 2 and 3 if interest is compounded monthly.**

<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/--ear1.png?raw=true">

In [2]:
# Let's define a function named "EAR"


# The function returns the future value
def EAR (i, m):
    return ((1 + (i/m))** m) - 1

In [105]:
amount_invested = float(1000)
nominal_rate =  float(0.1)
m = float(4)

effective_rate = EAR(i, m)
print("Total amount invested = ${}".format(amount_invested))
print("nominal annual return rate = {}%".format(nominal_rate))
print('Effective annual rate = {}%'.format(round(effective_rate, 4) * 100))
print('Total interest earned = ${}'.format(round(effective_rate*amount_invested,4)))

Total amount invested = $1000.0
nominal annual return rate = 0.1%
Effective annual rate = 10.38%
Total interest earned = $103.8129

In [106]:
# Obtain data from the user
# Note that the 10% interest rate is represented in code as 0.1
amount_invested = float(input("Enter the total amount you would like to invest today in dollars: "))
nominal_rate = float(input("Enter the nominal (stated) annual rate of return: "))
compounding_periods = float(input("Enter the number of compounding periods per year: "))

# Call the functions
effective_rate = EAR(nominal_rate, compounding_periods)
print('The effective annual interest rate = {}%'.format(round(effective_rate, 4) * 100)) 
print('The total interest earned by the end of the year = ${}'.format(round(effective_rate * amount_invested, 4)))

Enter the total amount you would like to invest today in dollars:  1000
Enter the nominal (stated) annual rate of return:  .1
Enter the number of compounding periods per year:  12

The effective annual interest rate = 10.47%
The total interest earned by the end of the year = $104.7131

<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/--ear2.png?raw=true">
<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/--ear3.png?raw=true">

### LESSON 3.5 PYTHON BUILT-IN FUNCTIONS
In previous lessons, we have learned that functions represent a block of code that performs a specific task. You can call a Python function, send it data, and receive results from it. Python has several built-in functions that can be directly called. Therefore, there is no need to define these functions beforehand.

In this lesson, you will learn to:

1. Leverage pre-defined Python built-in functions to obtain the minimum, maximum, and number of elements in a Python list;
2. Learn how to sort values in lists using Python’s built-in functions; and
3. Use built-in `round()` functions to round values to the nearest decimal place and `.abs()` to obtain the absolute value.

Now that you have an understanding of how to use some of Python’s built-in functions, try the following practice opportunity.

Using Python’s built-in functions, write a code that takes in the following two lists and calculates the absolute sum of all their elements |x+y|. Round your answer to the nearest whole number.
```python
    A = [ -10 -30 -80.6 70 21.9]
    B = [ -3 7.3 4.7 6 8]
```            


<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/-builtin.png?raw=true">

In [1]:
# Define lists A & B
A = [ -10, -30, -80.6, 70, 21.9]
B = [ -3, 7.3, 4.7, 6, 8]

In [2]:
A

[-10, -30, -80.6, 70, 21.9]

In [3]:
B

[-3, 7.3, 4.7, 6, 8]

In [7]:
# sum of both lists 
sum(A + B)

-5.699999999999996

In [8]:
# Calculate the absolute value of this number
abs(sum(A + B))

5.699999999999996

In [9]:
# Assign it to  C 
C = abs(sum(A + B))

In [11]:
round(C)

6

alternative in 1 line of code

In [12]:
round(abs(sum(A) + sum(B)))

6

def add(x, y)

**Question 1 of 7**
 
We would like to define a function that adds two numbers 
(x and y) together. Which of the following is the correct syntax to declare a function?

1. `def add(x,y)`
2. `add function(x,y)`
3. `def function add(x,y)`
4. `add(x,y)`

**Solution** 

1 is correct because the “def” keyword, followed by the function name, is used to define a Python function.

2, 3, and 4 are incorrect ways of defining a Python function.

Please review Lesson 3.4 (Functions) to learn more.

<hr>

**Question 2 of 7**
 
What will the following code generate?

```python
my_list = [20, 3, 10]

total = 1

for i in my_list:

   total = total * i

total
```



**Solution** 

2 (600) is correct because the code multiplies all elements in the Python list “my_list” and places the result in “total.” 20 × 3 × 10 = 600.

1 and 2 are incorrect values.

Please review Lesson 3.1 (“For” Loops) to learn more.

In [18]:
my_list = [20, 3, 10]

total = 1

for i in my_list:

   total = total * i

total

600

**Question 3 of 7**
 
True or False: The effective annual rate of return considers the effect of compounding while the nominal rate does not.

1. True
2. False


**Solution** 

1. is correct. True is the correct answer because the effective annual rate of return takes into account the effect of compounding while the nominal (stated) interest rate does not consider compounding.

Please review Lesson 3.4 (Functions) to learn more.

<hr>

**Question 4 of 7**

What will the following code generate?
```python
for i in range(0, 12, 3):

    print(i)
```
1. `0 1 2 3 4 5 6 7 8 9 10 11`
2. `0 3 6 9`
3. `0 1 2 3 4 5 6 7 8 9 10 11 12`
4. `0 3 6`


**Solution** 


2 is correct because range(0, 12, 3) will generate integer numbers from 0 to (but not including) 12, with a step of 3, so the output will be 0, 3, 6, 9.

1 is incorrect because it uses a step of 1 instead of 3.

3 is incorrect because it uses a step of 1 instead of 3 and because it includes the last number, which is 12.

4 is incorrect because the output does not include 9.

Please review Lesson 3.2 (Python Range() Function) to learn more.

<hr>

In [23]:
for i in range(0, 12, 3):

    print(i)

0
3
6
9

**Question 5 of 7**

What will the following code generate?
```python

cost = 87694.9456

print(round(cost))
```

1. 87694
2. 87694.9
3. 87695

**Solution**

3 is correct because the round() function will round the answer to the nearest integer, so the output is 87,695.

1 and 2 are incorrect.

Please review Lesson 3.5 (Python Built-In Functions) to learn more.

In [20]:
cost = 87694.9456

print(round(cost))

87695

**Question 6 of 7**

What is the output from the following code?

```python
x = [1, 4, 6, 8]

print(len(x))

print(sum(x))

print(max(x))
```
1. `4 19 8`
2. `3 19 8`
3. `19 3 8`
4. `8 19 4`

**Solution**

1 is correct because the `len()` function obtains the length of the Python list `x`, which is `4`. The `sum()` function adds all elements in the Python list `x`, so the answer is `19`. The `max()` function generates the maximum number in the Python list `x`, which is `8`.

2, 3, and 4 are incorrect because they do not have the correct length, sum, and/or maximum values.

Please review Lesson 3.5 (Python Built-In Functions) to learn more.
<hr>

In [21]:
x = [1, 4, 6, 8]

print(len(x))

print(sum(x))

print(max(x))

4
19
8

**Question 7 of 7**

True or False: While loops continuously repeat a block of code as long as a given condition is held true.

1. True
2. False

**Solution**

True is correct because in Python, while loops repeat a block of code as long as a condition is held true. Once the condition becomes false, the while loop exits and control is passed to the line of code immediately following the loop.

Please review Lesson 3.3 (“While” Loops) to learn more.
<hr>

# UNIT 4 INTRODUCTION AND WELCOME MESSAGE
Welcome to this unit on pandas for data wrangling and analysis.

pandas is the most widely used open-source Python library for data science. It is efficient, fast, and easy to use, and it can handle a large amount of data.

There are six lessons in this unit:

* Lesson 4.1 - Introduction to Data Analysis with pandas
* Lesson 4.2 - Handling Missing Data with pandas
* Lesson 4.3 - DataFrame Filtering and Sorting
* Lesson 4.4 - pandas DataFrames and Functions
* Lesson 4.5 - pandas DataFrames Concatenation and Merging
* Lesson 4.6 - Get Financial Markets Data

In this unit, you will:

1. Define two-dimensional pandas DataFrames and obtain their statistical summary;
2. Handle missing data in pandas DataFrames and filter them out based on a specific condition;
3. Define Python functions and apply them along an axis in a pandas DataFrame;
4. Perform DataFrame concatenation and merging;
5. Use the yfinance library to obtain financial market data, such as stock prices, beta, earnings per share (EPS), balance sheets, and income statements; and
6. Leverage available methods to display stocks’ paid dividends, stock splits, and analysts’ ratings and recommendations.

<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/400.png?raw=true">

### LESSON 4.1 INTRODUCTION TO DATA ANALYSIS WITH PANDAS

pandas is a powerful, fast, and easy-to-use open-source data analysis and manipulation Python library. It is the most popular Python library for data science.

In this lesson, you will learn to:

1. Define a two-dimensional pandas DataFrame from a Python dictionary using the `pandas.DataFrame()` constructor method;
2. Obtain a DataFrames statistical summary, such as count, minimum, maximum, average, and standard deviation;
3. Use `.head()` and `.tail()` methods to display first and last n number of rows in pandas DataFrames; and
4. Use the `.info()` method to display information about the DataFrame, such as the number of columns, column labels, data types, and memory usage.


A portfolio consists of a collection of assets owned by an investor, such as stocks, bonds, real estate, and exchange-traded funds (ETFs). Using pandas DataFrames, complete the following tasks:

* Define a pandas DataFrame named “`portfolio_df`” that holds five different stock, bond, or ETF names; ticker symbols; price per share; and number of shares. (Feel free to choose any stock, bond, or ETF and number you prefer.)
* Obtain a statistical summary of the “`portfolio_df`” DataFrame.
* Calculate the total value of the portfolio, including all assets.

<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/401.png?raw=true">

In [25]:
# Pandas is a data manipulation and analysis tool that uses a data structure known as DataFrame. 
# DataFrames empower programmers to store and manipulate data in a tabular fashion (rows & columns).
# Import Pandas Library into the current environment, note that "pd" is an alias of "Pandas" 

# Pandas offers several advantages: 
# 1. Pandas is superior at automating data processing tasks compared to Excel and can work with large amount of data.
# 2. It can handle large amount of missing data easily and efficiently. 
# 3. Pandas offers easy and powerful methods for data reshaping, pivoting, aggregating, merging, joining and concatenation.
# 4. Pandas offers multi-indexing capability of labels and can work well with time-series data
# 5. Comes with powerful Input/Output (IO) functions that allow for accessing Excel files and databases.

import pandas as pd

In [26]:
# Let's define a two-dimensional Pandas DataFrame from a python dictionary 
# We will use Pandas DataFrame constructor method "pd.DataFrame()" to create our Pandas DataFrame
# Data Source: https://statisticstimes.com/economy/projected-world-gdp-ranking.php

GDP_df = pd.DataFrame({'Country ID': ['USA', 'CHN' , 'IND', 'ARE', 'CAN', 'MEX'], 
                       'Country':['United States', 'China', 'India', 'United Arab Emirates', 'Canada', 'Mexico'], 
                       'GDP Per Capita [$]':[69375, 11891, 2116, 43538, 52791, 9967], 
                       'Global Rank':[5, 64, 150, 24, 15, 72]})
GDP_df

  Country ID               Country  GDP Per Capita [$]  Global Rank
0        USA         United States               69375            5
1        CHN                 China               11891           64
2        IND                 India                2116          150
3        ARE  United Arab Emirates               43538           24
4        CAN                Canada               52791           15
5        MEX                Mexico                9967           72

In [27]:
# Let's obtain the data type of this pandas DataFrame 
type(GDP_df)

pandas.core.frame.DataFrame

In [28]:
# Let's view the first couple of rows using ".head()" method
GDP_df.head(2)

  Country ID        Country  GDP Per Capita [$]  Global Rank
0        USA  United States               69375            5
1        CHN          China               11891           64

In [29]:
# Let's view the last couple of rows using ".tail()" method
GDP_df.tail(3)

  Country ID               Country  GDP Per Capita [$]  Global Rank
3        ARE  United Arab Emirates               43538           24
4        CAN                Canada               52791           15
5        MEX                Mexico                9967           72

In [30]:
# You can access a specific column in the Pandas DataFrame using the header name  
GDP_df['GDP Per Capita [$]']

0    69375
1    11891
2     2116
3    43538
4    52791
5     9967
Name: GDP Per Capita [$], dtype: int64

In [31]:
# Let's obtain a statistical summary about the DataFrame using the "describe()" method
GDP_df.describe()

       GDP Per Capita [$]  Global Rank
count             6.00000      6.00000
mean          31613.00000     55.00000
std           27365.16604     53.76988
min            2116.00000      5.00000
25%           10448.00000     17.25000
50%           27714.50000     44.00000
75%           50477.75000     70.00000
max           69375.00000    150.00000

In [32]:
# Obtain DataFrame information using the info() method
GDP_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country ID          6 non-null      object
 1   Country             6 non-null      object
 2   GDP Per Capita [$]  6 non-null      int64
 3   Global Rank         6 non-null      int64
dtypes: int64(2), object(2)
memory usage: 324.0+ bytes

**PRACTICE OPPORTUNITY:**
- **A portfolio consists of a collection of assets owned by an investors such as stocks, bonds, realestate, and ETFs. Using Pandas DataFrames, complete the following tasks:** 
    - **1. Define a Pandas dataframe named `'portfolio_df'` that holds 5 different stock, bond or ETF names, ticker symbols, price per share, and number of shares (feel free to choose any stock, bond or ETF and number you prefer)**
    - **2. Obtain a statistical summary of the `"portfolio_df"` DataFrame**
    - **3. Calculate the total value of the portfolio including all assets**

In [56]:
portfolio_df = pd.DataFrame({'company':['Alcoa Corporation','Meta Platforms, Inc.','Newmont Corporation',
                                        'Exxon Mobil Corporation','Alibaba Group Holding Ltd'],
                            'ticker':['AA','META', 'NEM','XOM','BABA'],
                            'share price':[33.79, 485.58, 35.84, 116.24, 72.36],
                            'number of shares':[100, 5, 100, 50, 45 ]})

In [57]:
# AA = 33.79
# META = 485.58
# NEM =  35.84
# XOM = 116.24
# BABA = 72.36

In [58]:
portfolio_df

                     company ticker  share price  number of shares
0          Alcoa Corporation     AA        33.79               100
1       Meta Platforms, Inc.   META       485.58                 5
2        Newmont Corporation    NEM        35.84               100
3    Exxon Mobil Corporation    XOM       116.24                50
4  Alibaba Group Holding Ltd   BABA        72.36                45

In [59]:
# Statistical summary
portfolio_df.describe()

       share price  number of shares
count     5.000000          5.000000
mean    148.762000         60.000000
std     191.253268         40.466035
min      33.790000          5.000000
25%      35.840000         45.000000
50%      72.360000         50.000000
75%     116.240000        100.000000
max     485.580000        100.000000

In [63]:
portfolio_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   company           5 non-null      object
 1   ticker            5 non-null      object
 2   share price       5 non-null      float64
 3   number of shares  5 non-null      int64
dtypes: float64(1), int64(1), object(2)
memory usage: 292.0+ bytes

In [60]:
# Multiply the "price per share" by the "number of stocks"
stocks_dollar_value = portfolio_df['share price'] * portfolio_df['number of shares']
stocks_dollar_value

0    3379.0
1    2427.9
2    3584.0
3    5812.0
4    3256.2
dtype: float64

In [61]:
# Sum up all values
stocks_dollar_value.sum()

18459.1

In [62]:
# Print the output
print('The total value of the portfolio = ${}'.format(stocks_dollar_value.sum()))

The total value of the portfolio = $18459.1

### LESSON 4.2 HANDLING MISSING DATA WITH PANDAS

<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/402.png?raw=true">

In this lesson, you will learn how to handle missing values in pandas DataFrames. In the real world, data is mostly disorganized; it comes in many forms and shapes and has many missing values.

Interestingly, according to IBM Data Analytics, data scientists spend up to 80% of their time finding, cleaning, and organizing data.

Fortunately, pandas offers many powerful, fast, and efficient methods to detect, remove, and replace large numbers of missing values in pandas DataFrames.

In this lesson, you will learn to:

1. Leverage pandas to read `.csv` files and store data in a DataFrame,
2. Locate rows and columns that have null or missing values,
3. Count the total number of missing values per column,
4. Drop rows containing null or missing values, and
5. Leverage the `.fillna()` method to fill missing cells with a certain value.


<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/403.png?raw=true">
<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/404.png?raw=true">

#### Complete the following tasks:

* Import the `“investors_data.csv”` dataset using pandas.
* Calculate the median value for the `“Years with Investment Firm”` column.
* Fill in missing values in the `“Years with Investment Firm”` column with the median values.
* Perform a sanity check.

In [64]:
# Pandas is used to read a csv file and store data in a DataFrame
investor_df = pd.read_csv('investors_data.csv')
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,Ryan,David,32,80100.0,5.0,aggressive,buy house
1,Sherif,George,54,950000.0,30.0,conservative,retire
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire
6,Chris,Peter,38,NaN,8.0,moderate,kids education
7,Nancy,Smith,55,900000.0,17.0,conservative,retire
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early

In [65]:
# Let's locate rows and columns that have Null values
# isnull() method returns a new DataFrame containing "True" in Null locations and "False" otherwise
investor_df.isnull()

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False
6,False,False,False,True,False,False,False
7,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False

In [66]:
# Let's see the total number of missing elements per column
investor_df.isnull().sum()

First Name                    0
Last Name                     0
Age                           0
Portfolio Size                1
Years with Investment Firm    1
Risk Tolerance                0
Goal                          0
dtype: int64

In [67]:
# Drop any row that contains a Null value 
# Note that the size of the dataframe has been reduced 
investor_df.dropna(how = 'any', inplace = True)

In [68]:
# Notice that rows 3 and 6 no longer exist!
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,Ryan,David,32,80100.0,5.0,aggressive,buy house
1,Sherif,George,54,950000.0,30.0,conservative,retire
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire
7,Nancy,Smith,55,900000.0,17.0,conservative,retire
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early

In [69]:
# Let's check if we still have any missing values
investor_df.isnull().sum()

First Name                    0
Last Name                     0
Age                           0
Portfolio Size                0
Years with Investment Firm    0
Risk Tolerance                0
Goal                          0
dtype: int64

In [70]:
# Let's explore an alternative (smarter) method to deal with missing values
# Let's read the raw data again using Pandas as follows
investor_df = pd.read_csv('investors_data.csv')
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,Ryan,David,32,80100.0,5.0,aggressive,buy house
1,Sherif,George,54,950000.0,30.0,conservative,retire
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire
6,Chris,Peter,38,NaN,8.0,moderate,kids education
7,Nancy,Smith,55,900000.0,17.0,conservative,retire
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early

In [71]:
# Let's obtain a statistical summary using "describe()" method
investor_df.describe()

             Age  Portfolio Size  Years with Investment Firm
count   9.000000        8.000000                    8.000000
mean   40.111111   353183.625000                   11.000000
std    11.634479   377372.061973                    9.561829
min    23.000000     1500.000000                    1.000000
25%    32.000000    70389.500000                    4.250000
50%    40.000000   225705.000000                    9.000000
75%    50.000000   525900.750000                   15.500000
max    55.000000   950000.000000                   30.000000

In [72]:
# Calculate the average portfolio size
investor_df['Portfolio Size'].mean()

353183.625

In [73]:
# You can use .fillna() to fill missing locations with a certain value
investor_df['Portfolio Size'].fillna(investor_df['Portfolio Size'].mean(), inplace = True)

In [74]:
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,Ryan,David,32,80100.000,5.0,aggressive,buy house
1,Sherif,George,54,950000.000,30.0,conservative,retire
2,Sandra,Stevenson,40,150509.000,10.0,moderate,kids education
3,Victoria,Keller,43,300901.000,NaN,moderate,investment property
4,Sarah,Aly,26,41258.000,2.0,aggressive,pay student loans
5,Bassel,Nasr,50,401201.000,15.0,conservative,retire
6,Chris,Peter,38,353183.625,8.0,moderate,kids education
7,Nancy,Smith,55,900000.000,17.0,conservative,retire
8,Heidi,Smith,23,1500.000,1.0,moderate,retire early

**PRACTICE OPPORTUNITY:**
- **Complete the following tasks:**
    - **1. Import the `'investors_data.csv'` dataset using Pandas**
    - **2. Calculate the median value for the `"Years with Investment Firm"` column**
    - **3. Fill in missing values in the `"Years with Investment Firm"` column with the median values**
    - **4. Perform a sanity check**

In [75]:
# Pandas is used to read a csv file and store data in a DataFrame
investor_df = pd.read_csv('investors_data.csv')
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,Ryan,David,32,80100.0,5.0,aggressive,buy house
1,Sherif,George,54,950000.0,30.0,conservative,retire
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire
6,Chris,Peter,38,NaN,8.0,moderate,kids education
7,Nancy,Smith,55,900000.0,17.0,conservative,retire
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early

In [78]:
# Calculate the median value for "Years with Investment Firm" column
investor_df['Years with Investment Firm'].median()

9.0

In [84]:
# You can use .fillna() to fill missing locations with a certain value
investor_df['Years with Investment Firm'].fillna(investor_df['Years with Investment Firm'].median(), inplace = True)

In [85]:
# Fill in the mean for Portfolio size null
# You can use .fillna() to fill missing locations with a certain value
investor_df['Portfolio Size'].fillna(investor_df['Portfolio Size'].mean(), inplace = True)

In [86]:
# Perform a sanity check
investor_df.isnull().sum()

First Name                    0
Last Name                     0
Age                           0
Portfolio Size                0
Years with Investment Firm    0
Risk Tolerance                0
Goal                          0
dtype: int64

In [87]:
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,Ryan,David,32,80100.000,5.0,aggressive,buy house
1,Sherif,George,54,950000.000,30.0,conservative,retire
2,Sandra,Stevenson,40,150509.000,10.0,moderate,kids education
3,Victoria,Keller,43,300901.000,9.0,moderate,investment property
4,Sarah,Aly,26,41258.000,2.0,aggressive,pay student loans
5,Bassel,Nasr,50,401201.000,15.0,conservative,retire
6,Chris,Peter,38,353183.625,8.0,moderate,kids education
7,Nancy,Smith,55,900000.000,17.0,conservative,retire
8,Heidi,Smith,23,1500.000,1.0,moderate,retire early

#### In this lesson, you learned how to:

1. Leverage pandas to read `.csv` files and store data in a DataFrame,
2. Locate rows and columns that have null or missing values,
3. Count the total number of missing values per column,
4. Crop rows containing null or missing values, and
5. Leverage the `.fillna()` method to fill missing cells with a certain value.
In the next lesson, you will learn about DataFrame filtering and sorting.

### LESSON 4.3 DATAFRAME FILTERING AND SORTING
Data sorting is the process of organizing data into some meaningful order to make it easier to understand and examine. You can sort data in ascending or descending order. For example, data analysts might need to sort client data based on the size of their investment portfolio in an ascending order.

pandas offers key advantages over other data manipulation tools because it can handle a large amount of data, allows for process automation, and offers highly efficient data manipulation capabilities.

In this lesson, you will learn to:

1. Sort pandas DataFrames by the values of one or more columns,
2. Use the `“ascending”` parameter to choose the sort order (ascending or descending),
3. Use the `“inplace”` parameter to enforce pandas DataFrame changes to take place in memory, and
4. Filter out pandas DataFrames using a specific condition.


<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/430.png?raw=true">
<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/431.png?raw=true">
<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/432.png?raw=true">

#### Using pandas, complete the following tasks:

* Import the `“investors_data.csv”` using pandas.
* Sort the pandas DataFrame using the `“Age”` column from oldest to youngest in descending order. Make sure to enforce the change to take place in memory. (External research is required.)
* Leverage pandas operations to select only high-net-worth individuals with a minimum portfolio size of \\$500,000.
* Determine the combined portfolio size for all customers with a net worth of \\$500,000+.

In [88]:
# Pandas is used to read a csv file and store data in a DataFrame
investor_df = pd.read_csv('investors_data.csv')
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,Ryan,David,32,80100.0,5.0,aggressive,buy house
1,Sherif,George,54,950000.0,30.0,conservative,retire
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire
6,Chris,Peter,38,NaN,8.0,moderate,kids education
7,Nancy,Smith,55,900000.0,17.0,conservative,retire
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early

In [89]:
# Select Loyal clients who have been with the investment firm for at least 15 years
loyal_df = investor_df[ investor_df['Years with Investment Firm'] >=15  ]
loyal_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
1,Sherif,George,54,950000.0,30.0,conservative,retire
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire
7,Nancy,Smith,55,900000.0,17.0,conservative,retire

In [90]:
# You might need to reset the index for the new Pandas DataFrame
loyal_df.reset_index(inplace = True)
loyal_df

,index,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,1,Sherif,George,54,950000.0,30.0,conservative,retire
1,5,Bassel,Nasr,50,401201.0,15.0,conservative,retire
2,7,Nancy,Smith,55,900000.0,17.0,conservative,retire

In [91]:
# You can sort the values in the dataframe according to the portfolio size
investor_df.sort_values(by = 'Portfolio Size')

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans
0,Ryan,David,32,80100.0,5.0,aggressive,buy house
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire
7,Nancy,Smith,55,900000.0,17.0,conservative,retire
1,Sherif,George,54,950000.0,30.0,conservative,retire
6,Chris,Peter,38,NaN,8.0,moderate,kids education

In [92]:
# Let's display the Pandas DataFrame again
# Notice that nothing has changed in memory! you have to make sure that inplace is set to True
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,Ryan,David,32,80100.0,5.0,aggressive,buy house
1,Sherif,George,54,950000.0,30.0,conservative,retire
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire
6,Chris,Peter,38,NaN,8.0,moderate,kids education
7,Nancy,Smith,55,900000.0,17.0,conservative,retire
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early

In [93]:
# Set inplace = True to ensure that change has taken place in memory 
investor_df.sort_values(by = 'Portfolio Size', inplace = True)

In [94]:
# Note that now the change (ordering) took place 
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans
0,Ryan,David,32,80100.0,5.0,aggressive,buy house
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire
7,Nancy,Smith,55,900000.0,17.0,conservative,retire
1,Sherif,George,54,950000.0,30.0,conservative,retire
6,Chris,Peter,38,NaN,8.0,moderate,kids education

**PRACTICE OPPORTUNITY:**
- **Using Pandas, complete the following tasks:**
    - **1. Import the `"investor_data.csv"` using Pandas**
    - **2. Sort the Pandas DataFrame using the `"Age"` column from oldest to youngest (in a descending order). Make sure to enforce the change to take place in memory [External Research is Required].**
    - **3. Leverage pandas operations to only select high networth individuals with minimum portfolio size of \\$500,000.** 
    - **4. What is the combined portfolio size for all customers with networth of \\$500,000+?**

In [97]:
# Pandas is used to read a csv file and store data in a DataFrame
investor_df = pd.read_csv('investors_data.csv')
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,Ryan,David,32,80100.0,5.0,aggressive,buy house
1,Sherif,George,54,950000.0,30.0,conservative,retire
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire
6,Chris,Peter,38,NaN,8.0,moderate,kids education
7,Nancy,Smith,55,900000.0,17.0,conservative,retire
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early

In [98]:
# You can sort the values in the dataframe according to the portfolio size
investor_df.sort_values(by = 'Age')

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans
0,Ryan,David,32,80100.0,5.0,aggressive,buy house
6,Chris,Peter,38,NaN,8.0,moderate,kids education
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire
1,Sherif,George,54,950000.0,30.0,conservative,retire
7,Nancy,Smith,55,900000.0,17.0,conservative,retire

$^1$ [source of the ascending data, if false it means sort descending](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html)



$^2$ [The inplace parameter is a more generic term w.r.t pandas and not specific to sort_values alone. You can see it in several functions like pd.fillna, pd.replace etc. Whenever the inplace is set to True, it modifies the existing data frame and you need not assign it to a new data frame.](https://stackoverflow.com/questions/41776801/in-place-sort-values-in-pandas-what-does-it-exactly-mean)

In [99]:
# You can sort the values in the dataframe according to the portfolio size
# Use inplace=True to store in the memory
# Use ascending=True to make sure it's youngest first
investor_df.sort_values(by = 'Age', ascending=True, inplace = True) 
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans
0,Ryan,David,32,80100.0,5.0,aggressive,buy house
6,Chris,Peter,38,NaN,8.0,moderate,kids education
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire
1,Sherif,George,54,950000.0,30.0,conservative,retire
7,Nancy,Smith,55,900000.0,17.0,conservative,retire

In [100]:
# Define high networth dataframe of clients with cut off of min of >= 500,000
high_networth_df = investor_df[investor_df['Portfolio Size'] >= 500000]
high_networth_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
1,Sherif,George,54,950000.0,30.0,conservative,retire
7,Nancy,Smith,55,900000.0,17.0,conservative,retire

In [101]:
# Sum the total networth of high net worth employees
high_networth_df['Portfolio Size'].sum()

1850000.0

In [103]:
print('the combined porfolio size of clients with at least 500000 = ${}'.format(high_networth_df['Portfolio Size'].sum()))

the combined porfolio size of clients with at least 500000 = $1850000.0

In this lesson, you learned how to:

1. Sort pandas DataFrames by the values of one or more columns;
2. Use the “ascending” parameter to choose the sort order (ascending or descending);
3. Use the “inplace” parameter to enforce pandas DataFrame changes to take place in memory; and
4. Filter out pandas DataFrames using a specific condition.

### LESSON 4.4 PANDAS DATAFRAMES AND FUNCTIONS
In this lesson, you will learn how to apply a function along an axis in a pandas DataFrame. Recall that functions are a block of code that perform a specific task. A function is executed when called; you can send it data, and it returns results.

We can apply a function to specific elements in a pandas DataFrame using the `.apply()` function. You can choose to apply Python built-in functions, such as `sum()`, `min()` or `max()`, or use any `custom function` that you create.

In this lesson, you will learn to:

1. Define a Python function,
2. Apply a custom function along an axis in a pandas DataFrame, and
3. Apply Python built-in functions to pandas DataFrames.

#### Now that you have learned how to use functions with a pandas DataFrame, try the following practice opportunity.

Write some Python code that performs the following tasks:

* Import the `“investors_data.csv”` dataset and place it in `“investor_df”` DataFrame using pandas.
* Define a function named `“ranking”` that receives the portfolio size and adds one of the following ranks:
    * `Low:` Client portfolio size is less than \\$100,000
    * `Medium:` Client portfolio size is between \\$100,000 and \\$500,000
    * `High:` Client portfolio size is more than \\$500,000
* Apply the function to the `“investor_df”` DataFrame, and add the output to a new column titled `“Rank.”`

<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/440.png?raw=true">
<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/441.png?raw=true">
<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/442.png?raw=true">

In [109]:
# Pandas is a data manipulation and analysis tool that uses a data structure known as DataFrame. 
# DataFrames empower programmers to store and manipulate data in a tabular fashion (rows & columns).
# Import Pandas Library into the current environment 
# "pd" is an alias of "Pandas" 
import pandas as pd 
import numpy as np

In [110]:
# Pandas is used to read a csv file and store data in a DataFrame
investor_df = pd.read_csv('investors_data.csv')
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,Ryan,David,32,80100.0,5.0,aggressive,buy house
1,Sherif,George,54,950000.0,30.0,conservative,retire
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire
6,Chris,Peter,38,NaN,8.0,moderate,kids education
7,Nancy,Smith,55,900000.0,17.0,conservative,retire
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early

In [111]:
# Define a function that increases the value of x by 10%
def portfolio_update(x):
    return x * 1.1 # assume that portfolio increased by 10%

In [114]:
# You can apply a function to the DataFrame column and add the results to a new column titled "Updated portfolio Size"
investor_df['Updated Portfolio Size'] = investor_df['Portfolio Size'].apply(portfolio_update)

In [115]:
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal,Updated Portfolio Size
0,Ryan,David,32,80100.0,5.0,aggressive,buy house,88110.0
1,Sherif,George,54,950000.0,30.0,conservative,retire,1045000.0
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education,165559.9
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property,330991.1
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans,45383.8
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire,441321.1
6,Chris,Peter,38,NaN,8.0,moderate,kids education,NaN
7,Nancy,Smith,55,900000.0,17.0,conservative,retire,990000.0
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early,1650.0

In [116]:
# You can also use Python built-in functions as well
investor_df['Sqrt Amount'] = investor_df['Age'].apply(np.sqrt)
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal,Updated Portfolio Size,Sqrt Amount
0,Ryan,David,32,80100.0,5.0,aggressive,buy house,88110.0,5.656854
1,Sherif,George,54,950000.0,30.0,conservative,retire,1045000.0,7.348469
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education,165559.9,6.324555
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property,330991.1,6.557439
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans,45383.8,5.099020
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire,441321.1,7.071068
6,Chris,Peter,38,NaN,8.0,moderate,kids education,NaN,6.164414
7,Nancy,Smith,55,900000.0,17.0,conservative,retire,990000.0,7.416198
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early,1650.0,4.795832

**PRACTICE OPPORTUNITY:**
- **Write a Python code that performs the following tasks:** 
    - **1. Import the `"investor_data.csv"` dataset and place it in `"investor_df"` DataFrame using Pandas**
    - **2. Define a function named `"ranking"` that receives the portfolio size and adds one of the following ranks:**
        - **`low:` client portfolio size is less than \\$100,000**
        - **`medium:` client portfolio size is between \\$100,000 and \\$500,000**
        - **`high:` client portfolio size is more than \\$500,000**
    - **3. Apply the function to the `"investor_df"` DataFrame and add the output to a new column titled `"Rank"`**

In [117]:
# Pandas is used to read a csv file and store data in a DataFrame
investor_df = pd.read_csv('investors_data.csv')
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,Ryan,David,32,80100.0,5.0,aggressive,buy house
1,Sherif,George,54,950000.0,30.0,conservative,retire
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire
6,Chris,Peter,38,NaN,8.0,moderate,kids education
7,Nancy,Smith,55,900000.0,17.0,conservative,retire
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early

In [118]:
# Define a function titled "ranking" that takes in the portfolio size and assign a low, medium or high rank
def ranking(x):
    if x < 100000:
        return 'low'
    elif x > 100000 and x < 500000:
        return 'medium'
    else:
        return 'high'

In [119]:
investor_df['Rank'] = investor_df['Portfolio Size'].apply(ranking)
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal,Rank
0,Ryan,David,32,80100.0,5.0,aggressive,buy house,low
1,Sherif,George,54,950000.0,30.0,conservative,retire,high
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education,medium
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property,medium
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans,low
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire,medium
6,Chris,Peter,38,NaN,8.0,moderate,kids education,high
7,Nancy,Smith,55,900000.0,17.0,conservative,retire,high
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early,low

In this lesson, you learned how to:

1. Define a Python function,
2. Apply a custom function along an axis in a pandas DataFrame, and
3. Apply Python built-in functions to pandas DataFrames.

In the next lesson, you will learn about pandas DataFrame `concatenation` and `merging`.

### LESSON 4.5 PANDAS DATAFRAMES CONCATENATION AND MERGING
In the real world, data comes from different sources and often in many individual files. We often want to combine these files into a single pandas DataFrame to analyze the data further or train machine learning models. Conveniently, pandas offers many methods to combine DataFrames, including merging and concatenation.

In this lesson, you will learn to:

1. Perform DataFrame concatenation using the pandas `concat` function,
2. Perform DataFrame merging based on a given column using the pandas `merge` function, and
3. Reset the pandas DataFrame index using the `.reset_index()` method.


<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/450.png?raw=true">
<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/451.png?raw=true">
<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/452.png?raw=true">



Now that you learned about concatenation and merging of pandas DataFrames, try the following practice opportunity.

Assume that you became a new client of an investment firm that has its data stored in “investor_df.” Write a Python code that performs the following:

* Define a new pandas DataFrame named `“new_client_df”` that contains your information, such as client ID (choose C1), first name, last name, age, portfolio size, years with investment firm, risk tolerance, goal, salaries, and job title.
* Concatenate this new DataFrame to the original pandas DataFrame `“investor_df.”`
* Reset the index.

In [121]:
# Pandas is a data manipulation and analysis tool that uses a data structure known as DataFrame. 
# DataFrames empower programmers to store and manipulate data in a tabular fashion (rows & columns).
# Import Pandas Library into the current environment 
# "pd" is an alias of "Pandas" 
import pandas as pd

In [122]:
# Read the first excel sheet into a Pandas DataFrame
investor_1_df = pd.read_csv('investors_group_1.csv')
investor_1_df

,Investor ID,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,A1,Ryan,David,32,80100,5,aggressive,buy house
1,A2,Sherif,George,54,950000,30,conservative,retire
2,A3,Sandra,Stevenson,40,150509,10,moderate,kids education
3,A4,Victoria,Keller,43,300901,3,moderate,investment property
4,A5,Sarah,Aly,26,41258,2,aggressive,pay student loans
5,A6,Bassel,Nasr,50,401201,15,conservative,retire
6,A7,Chris,Peter,38,352000,8,moderate,kids education
7,A8,Nancy,Smith,55,900000,17,conservative,retire
8,A9,Heidi,Smith,23,1500,1,moderate,retire early

In [123]:
# Read the second excel sheet into a Pandas DataFrame
investor_2_df = pd.read_csv('investors_group_2.csv')
investor_2_df

,Investor ID,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,B1,Paul,McDermid,31,70205,6,aggressive,buy house
1,B2,Steve,Mitchelle,55,990000,28,conservative,retire
2,B3,Mirelle,Michael,39,160401,9,moderate,pay student loans
3,B4,Mohamed,Aly,43,38000,3,moderate,investment property
4,B5,Salma,Smith,22,3000,2,aggressive,pay student loans

In [124]:
# Let's concatenate both dataframes #1 and #2
investor_df_combined = pd.concat([investor_1_df, investor_2_df])
investor_df_combined

,Investor ID,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,A1,Ryan,David,32,80100,5,aggressive,buy house
1,A2,Sherif,George,54,950000,30,conservative,retire
2,A3,Sandra,Stevenson,40,150509,10,moderate,kids education
3,A4,Victoria,Keller,43,300901,3,moderate,investment property
4,A5,Sarah,Aly,26,41258,2,aggressive,pay student loans
5,A6,Bassel,Nasr,50,401201,15,conservative,retire
6,A7,Chris,Peter,38,352000,8,moderate,kids education
7,A8,Nancy,Smith,55,900000,17,conservative,retire
8,A9,Heidi,Smith,23,1500,1,moderate,retire early
0,B1,Paul,McDermid,31,70205,6,aggressive,buy house
1,B2,Steve,Mitchelle,55,990000,28,conservative,retire
2,B3,Mirelle,Michael,39,160401,9,moderate,pay student loans
3,B4,Mohamed,Aly,43,38000,3,moderate,investment property
4,B5,Salma,Smith,22,3000,2,aggressive,pay student loans

In [125]:
# Note that index need to be reset, you can achieve this using df.reset_index()
# drop = True is used to drop the index column after reset_index() operation is performed
investor_df_combined.reset_index(drop = True)

,Investor ID,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,A1,Ryan,David,32,80100,5,aggressive,buy house
1,A2,Sherif,George,54,950000,30,conservative,retire
2,A3,Sandra,Stevenson,40,150509,10,moderate,kids education
3,A4,Victoria,Keller,43,300901,3,moderate,investment property
4,A5,Sarah,Aly,26,41258,2,aggressive,pay student loans
5,A6,Bassel,Nasr,50,401201,15,conservative,retire
6,A7,Chris,Peter,38,352000,8,moderate,kids education
7,A8,Nancy,Smith,55,900000,17,conservative,retire
8,A9,Heidi,Smith,23,1500,1,moderate,retire early
9,B1,Paul,McDermid,31,70205,6,aggressive,buy house
10,B2,Steve,Mitchelle,55,990000,28,conservative,retire
11,B3,Mirelle,Michael,39,160401,9,moderate,pay student loans
12,B4,Mohamed,Aly,43,38000,3,moderate,investment property
13,B5,Salma,Smith,22,3000,2,aggressive,pay student loans

In [10]:
# Let's assume we acquired new information such as investors salaries and job titles
investor_new_df = pd.read_csv('investors_new_information.csv')
investor_new_df

   Investor ID  Salary             Job Title
0           A1   90000              engineer
1           A2  283000  engineering director
2           A3  150000       product manager
3           A4  175000        medical doctor
4           A5   75000                 nurse
5           A6  135000            Pharmacist
6           A7  125000               plumber
7           A8  198000        senior manager
8           A9   45000               teacher
9           B1   89000               manager
10          B2   25000       dental hygenist
11          B3  136000               dentist
12          B4  145000             professor
13          B5   35000   construction worker

In [127]:
# Let's merge data on 'Investor ID'
investor_df = pd.merge(investor_df_combined, investor_new_df, on = 'Investor ID')
investor_df

,Investor ID,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal,Salary,Job Title
0,A1,Ryan,David,32,80100,5,aggressive,buy house,90000,engineer
1,A2,Sherif,George,54,950000,30,conservative,retire,283000,engineering director
2,A3,Sandra,Stevenson,40,150509,10,moderate,kids education,150000,product manager
3,A4,Victoria,Keller,43,300901,3,moderate,investment property,175000,medical doctor
4,A5,Sarah,Aly,26,41258,2,aggressive,pay student loans,75000,nurse
5,A6,Bassel,Nasr,50,401201,15,conservative,retire,135000,Pharmacist
6,A7,Chris,Peter,38,352000,8,moderate,kids education,125000,plumber
7,A8,Nancy,Smith,55,900000,17,conservative,retire,198000,senior manager
8,A9,Heidi,Smith,23,1500,1,moderate,retire early,45000,teacher
9,B1,Paul,McDermid,31,70205,6,aggressive,buy house,89000,manager
10,B2,Steve,Mitchelle,55,990000,28,conservative,retire,25000,dental hygenist
11,B3,Mirelle,Michael,39,160401,9,moderate,pay student loans,136000,dentist
12,B4,Mohamed,Aly,43,38000,3,moderate,investment property,145000,professor
13,B5,Salma,Smith,22,3000,2,aggressive,pay student loans,35000,construction worker

**PRACTICE OPPORTUNITY:**
- **Assume that you became a new client to the investment firm that has its data stored in `"investor_df"`, write a python code that performs the following:**
    - **1. Define a new Pandas DataFrame named `"new_client_df"` that contains your information such as client ID (choose C1), first name, last name, age, portfolio size, years with investment firm, risk tolerance, goal, salaries and job title**
    - **2. Concatenate this new dataframe to the original Pandas dataframe `"investor_df"`**
    - **3. `Reset` the index**

In [128]:
investor_df

,Investor ID,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal,Salary,Job Title
0,A1,Ryan,David,32,80100,5,aggressive,buy house,90000,engineer
1,A2,Sherif,George,54,950000,30,conservative,retire,283000,engineering director
2,A3,Sandra,Stevenson,40,150509,10,moderate,kids education,150000,product manager
3,A4,Victoria,Keller,43,300901,3,moderate,investment property,175000,medical doctor
4,A5,Sarah,Aly,26,41258,2,aggressive,pay student loans,75000,nurse
5,A6,Bassel,Nasr,50,401201,15,conservative,retire,135000,Pharmacist
6,A7,Chris,Peter,38,352000,8,moderate,kids education,125000,plumber
7,A8,Nancy,Smith,55,900000,17,conservative,retire,198000,senior manager
8,A9,Heidi,Smith,23,1500,1,moderate,retire early,45000,teacher
9,B1,Paul,McDermid,31,70205,6,aggressive,buy house,89000,manager
10,B2,Steve,Mitchelle,55,990000,28,conservative,retire,25000,dental hygenist
11,B3,Mirelle,Michael,39,160401,9,moderate,pay student loans,136000,dentist
12,B4,Mohamed,Aly,43,38000,3,moderate,investment property,145000,professor
13,B5,Salma,Smith,22,3000,2,aggressive,pay student loans,35000,construction worker

In [129]:
# New client dataframe

new_client = {
        'Investor ID': ['C1'],
        'First Name': ['Ryan'], 
        'Last Name': ['Ahmed'],
        'Age': [33],
        'Portfolio Size': [30000],
        'Years with Investment Firm': [12],
        'Risk Tolerance': ['aggressive'],
        'Goal': ['retire early'],
        'Salary': [75000],
        'Job Title': ['professor']}
new_client_df = pd.DataFrame(new_client)
new_client_df

,Investor ID,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal,Salary,Job Title
0,C1,Ryan,Ahmed,33,30000,12,aggressive,retire early,75000,professor

In [130]:
# Concatenate the new client into investor_df
investor_df = pd.concat([investor_df, new_client_df], axis = 0)
investor_df

,Investor ID,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal,Salary,Job Title
0,A1,Ryan,David,32,80100,5,aggressive,buy house,90000,engineer
1,A2,Sherif,George,54,950000,30,conservative,retire,283000,engineering director
2,A3,Sandra,Stevenson,40,150509,10,moderate,kids education,150000,product manager
3,A4,Victoria,Keller,43,300901,3,moderate,investment property,175000,medical doctor
4,A5,Sarah,Aly,26,41258,2,aggressive,pay student loans,75000,nurse
5,A6,Bassel,Nasr,50,401201,15,conservative,retire,135000,Pharmacist
6,A7,Chris,Peter,38,352000,8,moderate,kids education,125000,plumber
7,A8,Nancy,Smith,55,900000,17,conservative,retire,198000,senior manager
8,A9,Heidi,Smith,23,1500,1,moderate,retire early,45000,teacher
9,B1,Paul,McDermid,31,70205,6,aggressive,buy house,89000,manager
10,B2,Steve,Mitchelle,55,990000,28,conservative,retire,25000,dental hygenist
11,B3,Mirelle,Michael,39,160401,9,moderate,pay student loans,136000,dentist
12,B4,Mohamed,Aly,43,38000,3,moderate,investment property,145000,professor
13,B5,Salma,Smith,22,3000,2,aggressive,pay student loans,35000,construction worker
0,C1,Ryan,Ahmed,33,30000,12,aggressive,retire early,75000,professor

In [131]:
# Note that index need to be reset, 
# you can achieve this using df.reset_index()
investor_df.reset_index(drop = True)

,Investor ID,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal,Salary,Job Title
0,A1,Ryan,David,32,80100,5,aggressive,buy house,90000,engineer
1,A2,Sherif,George,54,950000,30,conservative,retire,283000,engineering director
2,A3,Sandra,Stevenson,40,150509,10,moderate,kids education,150000,product manager
3,A4,Victoria,Keller,43,300901,3,moderate,investment property,175000,medical doctor
4,A5,Sarah,Aly,26,41258,2,aggressive,pay student loans,75000,nurse
5,A6,Bassel,Nasr,50,401201,15,conservative,retire,135000,Pharmacist
6,A7,Chris,Peter,38,352000,8,moderate,kids education,125000,plumber
7,A8,Nancy,Smith,55,900000,17,conservative,retire,198000,senior manager
8,A9,Heidi,Smith,23,1500,1,moderate,retire early,45000,teacher
9,B1,Paul,McDermid,31,70205,6,aggressive,buy house,89000,manager
10,B2,Steve,Mitchelle,55,990000,28,conservative,retire,25000,dental hygenist
11,B3,Mirelle,Michael,39,160401,9,moderate,pay student loans,136000,dentist
12,B4,Mohamed,Aly,43,38000,3,moderate,investment property,145000,professor
13,B5,Salma,Smith,22,3000,2,aggressive,pay student loans,35000,construction worker
14,C1,Ryan,Ahmed,33,30000,12,aggressive,retire early,75000,professor

In [132]:
# Add me
# New client dataframe

new_client = {
        'Investor ID': ['C2'],
        'First Name': ['Michael'], 
        'Last Name': ['E'],
        'Age': [33],
        'Portfolio Size': [10000],
        'Years with Investment Firm': [3],
        'Risk Tolerance': ['aggressive'],
        'Goal': ['retire early'],
        'Salary': [80000],
        'Job Title': ['analyst']}
new_client_df = pd.DataFrame(new_client)
new_client_df

,Investor ID,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal,Salary,Job Title
0,C2,Michael,E,33,10000,3,aggressive,retire early,80000,analyst

In [133]:
# Concatenate the new client into investor_df
investor_df = pd.concat([investor_df, new_client_df], axis = 0)
investor_df

,Investor ID,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal,Salary,Job Title
0,A1,Ryan,David,32,80100,5,aggressive,buy house,90000,engineer
1,A2,Sherif,George,54,950000,30,conservative,retire,283000,engineering director
2,A3,Sandra,Stevenson,40,150509,10,moderate,kids education,150000,product manager
3,A4,Victoria,Keller,43,300901,3,moderate,investment property,175000,medical doctor
4,A5,Sarah,Aly,26,41258,2,aggressive,pay student loans,75000,nurse
5,A6,Bassel,Nasr,50,401201,15,conservative,retire,135000,Pharmacist
6,A7,Chris,Peter,38,352000,8,moderate,kids education,125000,plumber
7,A8,Nancy,Smith,55,900000,17,conservative,retire,198000,senior manager
8,A9,Heidi,Smith,23,1500,1,moderate,retire early,45000,teacher
9,B1,Paul,McDermid,31,70205,6,aggressive,buy house,89000,manager
10,B2,Steve,Mitchelle,55,990000,28,conservative,retire,25000,dental hygenist
11,B3,Mirelle,Michael,39,160401,9,moderate,pay student loans,136000,dentist
12,B4,Mohamed,Aly,43,38000,3,moderate,investment property,145000,professor
13,B5,Salma,Smith,22,3000,2,aggressive,pay student loans,35000,construction worker
0,C1,Ryan,Ahmed,33,30000,12,aggressive,retire early,75000,professor
0,C2,Michael,E,33,10000,3,aggressive,retire early,80000,analyst

In [134]:
# Note that index need to be reset, 
# you can achieve this using df.reset_index()
investor_df.reset_index(drop = True)

,Investor ID,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal,Salary,Job Title
0,A1,Ryan,David,32,80100,5,aggressive,buy house,90000,engineer
1,A2,Sherif,George,54,950000,30,conservative,retire,283000,engineering director
2,A3,Sandra,Stevenson,40,150509,10,moderate,kids education,150000,product manager
3,A4,Victoria,Keller,43,300901,3,moderate,investment property,175000,medical doctor
4,A5,Sarah,Aly,26,41258,2,aggressive,pay student loans,75000,nurse
5,A6,Bassel,Nasr,50,401201,15,conservative,retire,135000,Pharmacist
6,A7,Chris,Peter,38,352000,8,moderate,kids education,125000,plumber
7,A8,Nancy,Smith,55,900000,17,conservative,retire,198000,senior manager
8,A9,Heidi,Smith,23,1500,1,moderate,retire early,45000,teacher
9,B1,Paul,McDermid,31,70205,6,aggressive,buy house,89000,manager
10,B2,Steve,Mitchelle,55,990000,28,conservative,retire,25000,dental hygenist
11,B3,Mirelle,Michael,39,160401,9,moderate,pay student loans,136000,dentist
12,B4,Mohamed,Aly,43,38000,3,moderate,investment property,145000,professor
13,B5,Salma,Smith,22,3000,2,aggressive,pay student loans,35000,construction worker
14,C1,Ryan,Ahmed,33,30000,12,aggressive,retire early,75000,professor
15,C2,Michael,E,33,10000,3,aggressive,retire early,80000,analyst

In this lesson, you learned how to:

1. Perform DataFrame concatenation using the pandas `concat` function,
2. Perform DataFrame merging based on a given column using the pandas `merge` function, and
3. `Reset` the pandas DataFrame index using the `.reset_index()` method.
   
In the next lesson, you will learn how to get financial markets data.
<hr>

### LESSON 4.6 GET FINANCIAL MARKETS DATA
In this lesson, we will learn how to obtain market financial data using yfinance. yfinance is an open-source tool used to get market data from Yahoo. We will leverage the ticker() module, which enables anyone to obtain market data and metadata of stocks, cryptocurrency, and ETFs in an easy way.

In this lesson, you will learn to:

1. Use the `yfinance tool` to obtain financial market data, such as stock prices, beta, earnings per share (EPS), balance sheets, and income statements;
2. Leverage available methods to display stocks’ paid dividends, stock splits, and analysts’ ratings and recommendations; and
3. Obtain cryptocurrency data, such as closing price and circulating supply.


Write a code that performs the following tasks:

* Obtain the beta for META, Apple, Spotify, and P&G stocks.
* Get the circulating supply and closing price of Bitcoin.
* Obtain the volume of Apple transactions on 22 February 2022.

<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/460.png?raw=true">
<img src="https://github.com/PachaTech/CFA-Level-1/blob/main/Practical%20skills%20python/-%20pics/461.png?raw=true">

In [1]:
# yfinance is an open-source tool used to get market data from Yahoo 
# Let's install the library
# !pip install yfinance

# Let's import the library
import yfinance as yf 

# Pandas is used for dataframe and tabular data manipulation
import pandas as pd

In [2]:
# Using Yahoo Finance tool to fetch all data related to stock of interest
# Note that data is obtained in an object, we can then apply methods to get specific data from the object
# Note that the output is returned in a Python dictionary
stock = yf.Ticker("AAPL")
stock

yfinance.Ticker object <AAPL>

In [3]:
# Let's explore some available methods, add a period "." and then click "tab" to display all available methods
# Note that actions indicate dividends and stock splits
# Recommendations indicate analyst's ratings
# Analysis indicates EPS targets 
# Info returns company information in a dictionary format
stock.info

{'address1': 'One Apple Park Way',
 'city': 'Cupertino',
 'state': 'CA',
 'zip': '95014',
 'country': 'United States',
 'phone': '408 996 1010',
 'website': 'https://www.apple.com',
 'industry': 'Consumer Electronics',
 'industryKey': 'consumer-electronics',
 'industryDisp': 'Consumer Electronics',
 'sector': 'Technology',
 'sectorKey': 'technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, and HomePod. It also provides AppleCare support and cloud services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Fitness+, a personalized fitness service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1976 and is headquartered in Cupertino, California.',
 'fullTimeEmployees': 161000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Timothy D. Cook',
   'age': 62,
   'title': 'CEO & Director',
   'yearBorn': 1961,
   'fiscalYear': 2023,
   'totalPay': 16239562,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Luca  Maestri',
   'age': 60,
   'title': 'CFO & Senior VP',
   'yearBorn': 1963,
   'fiscalYear': 2023,
   'totalPay': 4612242,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jeffrey E. Williams',
   'age': 59,
   'title': 'Chief Operating Officer',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 4637585,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Katherine L. Adams',
   'age': 59,
   'title': 'Senior VP, General Counsel & Secretary',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 4618064,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': "Ms. Deirdre  O'Brien",
   'age': 56,
   'title': 'Senior Vice President of Retail',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'totalPay': 4613369,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Chris  Kondo',
   'title': 'Senior Director of Corporate Accounting',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. James  Wilson',
   'title': 'Chief Technology Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Suhasini  Chandramouli',
   'title': 'Director of Investor Relations',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Greg  Joswiak',
   'title': 'Senior Vice President of Worldwide Marketing',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Adrian  Perica',
   'age': 49,
   'title': 'Head of Corporate Development',
   'yearBorn': 1974,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 4,
 'boardRisk': 1,
 'compensationRisk': 5,
 'shareHolderRightsRisk': 1,
 'overallRisk': 1,
 'governanceEpochDate': 1711670400,
 'compensationAsOfEpochDate': 1703980800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 173.31,
 'open': 171.7,
 'dayLow': 170.51,
 'dayHigh': 172.23,
 'regularMarketPreviousClose': 173.31,
 'regularMarketOpen': 171.7,
 'regularMarketDayLow': 170.51,
 'regularMarketDayHigh': 172.23,
 'dividendRate': 0.96,
 'dividendYield': 0.0056,
 'exDividendDate': 1707436800,
 'payoutRatio': 0.14770001,
 'fiveYearAvgDividendYield': 0.74,
 'beta': 1.289,
 'trailingPE': 26.668741,
 'forwardPE': 25.864252,
 'volume': 65672690,
 'regularMarketVolume': 65672690,
 'averageVolume': 62005805,
 'averageVolume10days': 66578518,
 'averageDailyVolume10Day': 66578518,
 'marketCap': 2647976837120,
 'fiftyTwoWeekLow': 159.78,
 'fiftyTwoWeekHigh': 199.62,
 'priceToSalesTrailing12Months': 6.8652725,
 'fiftyDayAverage': 180.7512,
 'twoHundredDayAverage': 183.61208,
 'trailingAnnualDividendRate': 0.95,
 'trailingAnnualDividendYield': 0.005481507,
 'currency': 'USD',
 'enterpriseValue': 2682913816576,
 'profitMargins': 0.26163,
 'floatShares': 15414548871,
 'sharesOutstanding': 15441899520,
 'sharesShort': 110863064,
 'sharesShortPriorMonth': 97665956,
 'sharesShortPreviousMonthDate': 1707955200,
 'dateShortInterest': 1710460800,
 'sharesPercentSharesOut': 0.0072000003,
 'heldPercentInsiders': 0.059359998,
 'heldPercentInstitutions': 0.56711,
 'shortRatio': 1.64,
 'shortPercentOfFloat': 0.0072000003,
 'impliedSharesOutstanding': 15615699968,
 'bookValue': 4.793,
 'priceToBook': 35.777172,
 'lastFiscalYearEnd': 1696032000,
 'nextFiscalYearEnd': 1727654400,
 'mostRecentQuarter': 1703894400,
 'earningsQuarterlyGrowth': 0.131,
 'netIncomeToCommon': 100912996352,
 'trailingEps': 6.43,
 'forwardEps': 6.63,
 'pegRatio': 2.78,
 'lastSplitFactor': '4:1',
 'lastSplitDate': 1598832000,
 'enterpriseToRevenue': 6.956,
 'enterpriseToEbitda': 20.621,
 '52WeekChange': 0.031955242,
 'SandP52WeekChange': 0.27393317,
 'lastDividendValue': 0.24,
 'lastDividendDate': 1707436800,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'underlyingSymbol': 'AAPL',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'firstTradeDateEpochUtc': 345479400,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': '8b10e4ae-9eeb-3684-921a-9ab27e4d87aa',
 'messageBoardId': 'finmb_24937',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 171.48,
 'targetHighPrice': 231.45,
 'targetLowPrice': 146.28,
 'targetMeanPrice': 185.64,
 'targetMedianPrice': 185.16,
 'recommendationMean': 2.2,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 39,
 'totalCash': 73100001280,
 'totalCashPerShare': 4.734,
 'ebitda': 130108997632,
 'totalDebt': 108040003584,
 'quickRatio': 0.92,
 'currentRatio': 1.073,
 'totalRevenue': 385706000384,
 'debtToEquity': 145.803,
 'revenuePerShare': 24.648,
 'returnOnAssets': 0.21181,
 'returnOnEquity': 1.5426899,
 'freeCashflow': 86563127296,
 'operatingCashflow': 116433002496,
 'earningsGrowth': 0.16,
 'revenueGrowth': 0.021,
 'grossMargins': 0.45027,
 'ebitdaMargins': 0.33733,
 'operatingMargins': 0.33764,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.1108}

In [4]:
# Let's obtain the company beta
# Remember that Beta is a measure of the security volatility compared to the market (S&P 500) 
# Stocks with betas greater than 1.0 are more volatile compared to S&P 500 
print("The company beta is = {}".format(stock.info['beta']))

The company beta is = 1.289

In [5]:
# Let's obtain the company's free cash flow (FCF)  
# Free cash flow is the cash left in a company after it pays for its operating and capital expenditures.
print("The company cash is = ${}".format(stock.info['freeCashflow']))

The company cash is = $86563127296

In [141]:
# Let's obtain the Price-to-Earnings (P/E) Ratio 
# Price-to-Earnings (P/E) ratio is calculated by dividing the current share price by its earnings per share (EPS) 
# High price-to-earnings ratio could indicate that the company's stock is overvalued 
# Example: S&P500 P/E ratio ranged from 5x in 1917 to 120x in 2009 right before the financial crisis 
# Trailing P/E is calculated using past performance by dividing the current stock price by total EPS earnings over the past 12 months.
print("The company Price-to-Earnings (P/E) ratio is = {} ".format(stock.info['trailingPE']))

The company Price-to-Earnings (P/E) ratio is = 26.668741

In [142]:
# You can also obtain cash flow statements
stock.get_cashflow()

,2023-09-30,2022-09-30,2021-09-30,2020-09-30
FreeCashFlow,99584000000.0,111443000000.0,92953000000.0,73365000000.0
RepurchaseOfCapitalStock,-77550000000.0,-89402000000.0,-85971000000.0,-72358000000.0
RepaymentOfDebt,-11151000000.0,-9543000000.0,-8750000000.0,-12629000000.0
IssuanceOfDebt,5228000000.0,5465000000.0,20393000000.0,16091000000.0
IssuanceOfCapitalStock,NaN,NaN,1105000000.0,880000000.0
CapitalExpenditure,-10959000000.0,-10708000000.0,-11085000000.0,-7309000000.0
InterestPaidSupplementalData,3803000000.0,2865000000.0,2687000000.0,3002000000.0
IncomeTaxPaidSupplementalData,18679000000.0,19573000000.0,25385000000.0,9501000000.0
EndCashPosition,30737000000.0,24977000000.0,35929000000.0,39789000000.0
BeginningCashPosition,24977000000.0,35929000000.0,39789000000.0,50224000000.0
ChangesInCash,5760000000.0,-10952000000.0,-3860000000.0,-10435000000.0
FinancingCashFlow,-108488000000.0,-110749000000.0,-93353000000.0,-86820000000.0
CashFlowFromContinuingFinancingActivities,-108488000000.0,-110749000000.0,-93353000000.0,-86820000000.0
NetOtherFinancingCharges,-6012000000.0,-6383000000.0,-5580000000.0,-2880000000.0
CashDividendsPaid,-15025000000.0,-14841000000.0,-14467000000.0,-14081000000.0
CommonStockDividendPaid,-15025000000.0,-14841000000.0,-14467000000.0,-14081000000.0
NetCommonStockIssuance,-77550000000.0,-89402000000.0,-85971000000.0,-72358000000.0
CommonStockPayments,-77550000000.0,-89402000000.0,-85971000000.0,-72358000000.0
CommonStockIssuance,NaN,NaN,1105000000.0,880000000.0
NetIssuancePaymentsOfDebt,-9901000000.0,-123000000.0,12665000000.0,2499000000.0
NetShortTermDebtIssuance,-3978000000.0,3955000000.0,1022000000.0,-963000000.0
NetLongTermDebtIssuance,-5923000000.0,-4078000000.0,11643000000.0,3462000000.0
LongTermDebtPayments,-11151000000.0,-9543000000.0,-8750000000.0,-12629000000.0
LongTermDebtIssuance,5228000000.0,5465000000.0,20393000000.0,16091000000.0
InvestingCashFlow,3705000000.0,-22354000000.0,-14545000000.0,-4289000000.0
CashFlowFromContinuingInvestingActivities,3705000000.0,-22354000000.0,-14545000000.0,-4289000000.0
NetOtherInvestingChanges,-1337000000.0,-2086000000.0,-385000000.0,-909000000.0
NetInvestmentPurchaseAndSale,16001000000.0,-9560000000.0,-3075000000.0,5453000000.0
SaleOfInvestment,45514000000.0,67363000000.0,106483000000.0,120391000000.0
PurchaseOfInvestment,-29513000000.0,-76923000000.0,-109558000000.0,-114938000000.0
NetBusinessPurchaseAndSale,NaN,-306000000.0,-33000000.0,-1524000000.0
PurchaseOfBusiness,NaN,-306000000.0,-33000000.0,-1524000000.0
NetPPEPurchaseAndSale,-10959000000.0,-10708000000.0,-11085000000.0,-7309000000.0
PurchaseOfPPE,-10959000000.0,-10708000000.0,-11085000000.0,-7309000000.0
OperatingCashFlow,110543000000.0,122151000000.0,104038000000.0,80674000000.0
CashFlowFromContinuingOperatingActivities,110543000000.0,122151000000.0,104038000000.0,80674000000.0
ChangeInWorkingCapital,-6577000000.0,1200000000.0,-4911000000.0,5690000000.0
ChangeInOtherWorkingCapital,NaN,478000000.0,1676000000.0,2081000000.0
ChangeInOtherCurrentLiabilities,3031000000.0,6110000000.0,7475000000.0,8916000000.0
ChangeInOtherCurrentAssets,-5684000000.0,-6499000000.0,-8042000000.0,-9588000000.0
ChangeInPayablesAndAccruedExpense,-1889000000.0,9448000000.0,12326000000.0,-4062000000.0
ChangeInPayable,-1889000000.0,9448000000.0,12326000000.0,-4062000000.0
ChangeInAccountPayable,-1889000000.0,9448000000.0,12326000000.0,-4062000000.0
ChangeInInventory,-1618000000.0,1484000000.0,-2642000000.0,-127000000.0
ChangeInReceivables,-417000000.0,-9343000000.0,-14028000000.0,8470000000.0
ChangesInAccountReceivables,-1688000000.0,-1823000000.0,-10125000000.0,6917000000.0
OtherNonCashItems,-2227000000.0,1006000000.0,-4921000000.0,-97000000.0
StockBasedCompensation,10833000000.0,9038000000.0,7906000000.0,6829000000.0
DeferredTax,NaN,895000000.0,-4774000000.0,-215000000.0
DeferredIncomeTax,NaN,895000000.0,-4774000000.0,-215000000.0
DepreciationAmortizationDepletion,11519000000.0,11104000000.0,11284000000.0,11056000000.0
DepreciationAndAmortization,11519000000.0,11104000000.0,11284000000.0,11056000000.0
NetIncomeFromContinuingOperations,96995000000.0,99803000000.0,94680000000.0,57411000000.0

In [143]:
# Let's view some recommendations
stock.recommendations.tail(20)

  period  strongBuy  buy  hold  sell  strongSell
0     0m         11   21     6     0           0
1    -1m         10   17    12     2           0
2    -2m         10   17    12     2           0
3    -3m         10   24     7     1           0

In [144]:
# Using Yahoo Finance tool to fetch stock data
# Actions is used to obtain dividends and stock splits 
dividends_splits_df = stock.actions
dividends_splits_df

                           Dividends  Stock Splits
Date
1987-05-11 00:00:00-04:00   0.000536           0.0
1987-06-16 00:00:00-04:00   0.000000           2.0
1987-08-10 00:00:00-04:00   0.000536           0.0
1987-11-17 00:00:00-05:00   0.000714           0.0
1988-02-12 00:00:00-05:00   0.000714           0.0
...                              ...           ...
2023-02-10 00:00:00-05:00   0.230000           0.0
2023-05-12 00:00:00-04:00   0.240000           0.0
2023-08-11 00:00:00-04:00   0.240000           0.0
2023-11-10 00:00:00-05:00   0.240000           0.0
2024-02-09 00:00:00-05:00   0.240000           0.0

[87 rows x 2 columns]

In [145]:
# Let's obtain the balance sheet for Apple
balance_df = stock.get_balance_sheet()
balance_df.round()

,2023-09-30,2022-09-30,2021-09-30,2020-09-30
TreasurySharesNumber,0.0,NaN,NaN,NaN
OrdinarySharesNumber,15550061000.0,15943425000.0,16426786000.0,16976763000.0
ShareIssued,15550061000.0,15943425000.0,16426786000.0,16976763000.0
NetDebt,81123000000.0,96423000000.0,89779000000.0,74420000000.0
TotalDebt,111088000000.0,120069000000.0,124719000000.0,112436000000.0
...,...,...,...,...
CashCashEquivalentsAndShortTermInvestments,61555000000.0,48304000000.0,62639000000.0,90943000000.0
OtherShortTermInvestments,31590000000.0,24658000000.0,27699000000.0,52927000000.0
CashAndCashEquivalents,29965000000.0,23646000000.0,34940000000.0,38016000000.0
CashEquivalents,1606000000.0,5100000000.0,17635000000.0,20243000000.0
CashFinancial,28359000000.0,18546000000.0,17305000000.0,17773000000.0

In [146]:
# Let's import datetime package 
import datetime
 
# Specify the starting date 
startDate = datetime.datetime(2021, 3, 1)
 
# Specify the end date 
endDate = datetime.datetime(2022, 3, 1)
 
# Obtain the stock price data
print(stock.history(start = startDate, end = endDate))

                                 Open        High         Low       Close  \
Date
2021-03-01 00:00:00-05:00  121.628901  125.737255  120.685356  125.599655
2021-03-02 00:00:00-05:00  126.209012  126.513696  122.867288  122.975403
2021-03-03 00:00:00-05:00  122.670714  123.555289  119.751619  119.967850
2021-03-04 00:00:00-05:00  119.663174  121.481463  116.586825  118.070938
2021-03-05 00:00:00-05:00  118.906376  119.849920  115.554821  119.338829
...                               ...         ...         ...         ...
2022-02-22 00:00:00-05:00  163.115956  164.806642  160.317929  162.463425
2022-02-23 00:00:00-05:00  163.669627  164.272735  157.945052  158.261444
2022-02-24 00:00:00-05:00  150.856080  161.010049  150.282631  160.901291
2022-02-25 00:00:00-05:00  161.988814  163.254350  159.052370  162.987411
2022-02-28 00:00:00-05:00  161.217672  163.551008  160.594785  163.254395

                              Volume  Dividends  Stock Splits
Date
2021-03-01 00:00:00-05:00  116307900        0.0           0.0
2021-03-02 00:00:00-05:00  102260900        0.0           0.0
2021-03-03 00:00:00-05:00  112966300        0.0           0.0
2021-03-04 00:00:00-05:00  178155000        0.0           0.0
2021-03-05 00:00:00-05:00  153766600        0.0           0.0
...                              ...        ...           ...
2022-02-22 00:00:00-05:00   91162800        0.0           0.0
2022-02-23 00:00:00-05:00   90009200        0.0           0.0
2022-02-24 00:00:00-05:00  141147500        0.0           0.0
2022-02-25 00:00:00-05:00   91974200        0.0           0.0
2022-02-28 00:00:00-05:00   95056600        0.0           0.0

[253 rows x 7 columns]

**PRACTICE OPPORTUNITY:**
- **Write a code that performs the following:** 
    - **1. Obtains the beta for Meta, Apple, Spotify and P&G stocks**
    - **2. Gets the circulating supply and closing price of Bitcoin**
    - **3. Obtains the volume of Apple transactions on 2022-02-22**

In [149]:
stock = yf.Ticker("AAPL")
print("AAPL beta is = {}".format(stock.info['beta']))
stock = yf.Ticker("META")
print("META beta is = {}".format(stock.info['beta']))
stock = yf.Ticker("PG")
print("P&G  beta is = {}".format(stock.info['beta']))
stock = yf.Ticker("SPOT")
print("SPOT beta is = {}".format(stock.info['beta']))

AAPL beta is = 1.289
META beta is = 1.208
P&G  beta is = 0.43
SPOT beta is = 1.632

In [153]:
# Bitcoin 
# 'circulatingSupply': 19669700,
# 'previousClose': 69647.74
# Bitcoin and other cryptos are referenced with respect to the US dollar hence the naming convention BTC-USD, LTC-USD..etc.
crypto = yf.Ticker("BTC-USD")
crypto.info

{'name': 'Bitcoin',
 'startDate': 1278979200,
 'description': 'Bitcoin (BTC) is a cryptocurrency launched in 2010. Users are able to generate BTC through the process of mining. Bitcoin has a current supply of 19,669,225. The last known price of Bitcoin is 70,304.94111017 USD and is up 0.35 over the last 24 hours. It is currently trading on 10944 active market(s) with $17,474,585,267.94 traded over the last 24 hours. More information can be found at https://bitcoin.org/.',
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 69647.74,
 'open': 69647.74,
 'dayLow': 69647.74,
 'dayHigh': 71146.92,
 'regularMarketPreviousClose': 69647.74,
 'regularMarketOpen': 69647.74,
 'regularMarketDayLow': 69647.74,
 'regularMarketDayHigh': 71146.92,
 'volume': 19521765376,
 'regularMarketVolume': 19521765376,
 'averageVolume': 34255641194,
 'averageVolume10days': 33410074747,
 'averageDailyVolume10Day': 33410074747,
 'marketCap': 1395831078912,
 'fiftyTwoWeekLow': 24797.168,
 'fiftyTwoWeekHigh': 73750.07,
 'fiftyDayAverage': 61589.484,
 'twoHundredDayAverage': 43114.656,
 'currency': 'USD',
 'fromCurrency': 'BTC',
 'toCurrency': 'USD=X',
 'lastMarket': 'CoinMarketCap',
 'coinMarketCapLink': 'https://coinmarketcap.com/currencies/bitcoin',
 'volume24Hr': 19521765376,
 'volumeAllCurrencies': 19521765376,
 'circulatingSupply': 19669700,
 'exchange': 'CCC',
 'quoteType': 'CRYPTOCURRENCY',
 'symbol': 'BTC-USD',
 'underlyingSymbol': 'BTC-USD',
 'shortName': 'Bitcoin USD',
 'longName': 'Bitcoin USD',
 'firstTradeDateEpochUtc': 1410912000,
 'timeZoneFullName': 'UTC',
 'timeZoneShortName': 'UTC',
 'uuid': '74397779-1589-3270-8c45-b7f1a7345b3a',
 'messageBoardId': 'finmb_BTC_CCC',
 'trailingPegRatio': None}

In [154]:
stock = yf.Ticker("AAPL")

# Let's import datetime package 
import datetime
 
# Specify the starting date 
startDate = datetime.datetime(2024, 3, 20)
 
# Specify the end date 
endDate = datetime.datetime(2024, 3, 29)
 
# Obtain the stock price data
volume = stock.history(start = startDate, end = endDate)['Volume']

In [155]:
# print out the volume per day
volume

Date
2024-03-20 00:00:00-04:00     53423100
2024-03-21 00:00:00-04:00    106181300
2024-03-22 00:00:00-04:00     71106600
2024-03-25 00:00:00-04:00     54288300
2024-03-26 00:00:00-04:00     57388400
2024-03-27 00:00:00-04:00     60273300
2024-03-28 00:00:00-04:00     65672700
Name: Volume, dtype: int64

In [156]:
# Here's the volume on 2024-03-28
volume['2024-03-28 00:00:00-04:00']

65672700

### UNIT 4 END OF UNIT MESSAGE

Congratulations on completing this unit on Data Wrangling and Analysis with pandas.

We will leverage the skills we learned in data wrangling and analysis in our final capstone project! 

But before we move on, you will answer some questions to check your understanding of what you have learned in this unit. This knowledge check gives you the opportunity to gauge your overall comprehension of what you have learned so far. If you do not see the questions on the next page, please navigate to them using the Study Plan tab on the left panel. Note that you must answer all the questions in order to complete the module.

**Question 1 of 7**
What will the following code do?
```python
df.sort_values(ascending = False, inplace = True)

df
```
A. Sort the df pandas DataFrame in descending order.
B. Sort the df pandas DataFrame in ascending order.
C. Sort the df pandas DataFrame in descending order, and force the change to take place in memory.

**Solution**

C is correct because the ascending is set to False, which means sorting will take place in descending order. Because inplace is set to True, the change will be enforced to take place in memory.

A is incorrect because the answer is not complete. It does not explain the importance of setting the inplace parameter to True.

B is incorrect because sorting will take place in descending order.

Please review Lesson 4.3 (DataFrame Filtering and Sorting) to learn more.

<hr>

**Question 2 of 7**
How can you display the first five rows in the pandas DataFrame “df”? (You can select more than one option.)
```python
A. df.top()
B. df.head()
C. df.head(5)
D. df.tail()
```


**Solution**

B and C are the correct answers. B is the correct answer because, by default, the .head( ) method displays the first five rows in the pandas DataFrame. C is also correct because 5 is passed as a parameter, and therefore, the first five rows will also be displayed.

A is incorrect because it has the wrong syntax.

D is incorrect because it will display the last five elements in the pandas DataFrame “df.”

Please review Lesson 4.1 (Introduction to Data Analysis with pandas) to learn more.

<hr>

**Question 3 of 7**
What will the following code do?


```python
df = df[ (df['income'] <= 2000) ]

df['income'].sum()
```


A. Select employees who make less than \\$2,000.

B. Select employees who make less than or equal to \\$2,000, and then sum up all their salaries.

C. Select employees who make more than \\$2,000.

D. Select employees who make more than or equal to \\$2,000, and then sum up all their salaries.


**Solution**

B is the correct answer because the `df['income'] <= 2000` condition will select pandas DataFrame rows that have income less than \\$2,000. The `df[‘income’].sum()` will then sum up all elements.

Please review Lesson 4.3 (DataFrame Filtering and Sorting) lesson to learn more.


<hr>

**Question 4 of 7**
What will the following code generate?



```python
def new_income(income):
    return income **2 + 100

data = df['income'].apply(new_income)

data.sum()
```


A. Square the income column and add 100.
B. Double the income column and add 100.
C. Square the income column, add 100, and then sum up all incomes.
D. Double the income column, add 100, and then sum up all salaries.

**Solution**

C is the correct answer because the function `new_income()` will receive the income column, 
square up its element, and then add 100 to it. The `.sum()` function will then sum up all the elements.

A, B, and D are incorrect.

Please review Lesson 4.4 (pandas DataFrames and Functions) to learn more.


<hr>

**Question 5 of 7**
What will the following code generate?



```python
portfolio_df = pd.DataFrame({'stock ticker symbols' : ['FB', 'TSLA', 'T'],

'price per share [$]' : [20, 30, 40],

'Number of stocks' : [1, 1, 1]})

stocks_dollar_value = portfolio_df['price per share [$]'] * portfolio_df['Number of stocks']

print('Total portfolio value = {}'.format(stocks_dollar_value.sum()))
```

A. Total portfolio value = 90

B. Total portfolio value = 100

C. Total portfolio value = 2,400

D. Total portfolio value = 600


**Solution**

A is the correct answer because the code will multiply elements in `“Price per share”` by elements in “Number of stocks,” and then sum up all elements, resulting in a value of 90.

Please review Lesson 4.1 (Introduction to Data Analysis with pandas) to learn more.


<hr>

**Question 6 of 7**
What will the following code do?


```python
employee_all_df = pd.concat(employee_names_df,
employee_age_df, on = 'Employee ID')
```

A. Generate an error message.

B. Concatenate both DataFrames using Employee ID.

C. Merge both DataFrames using Employee ID.


**Solution**

A is the correct answer because the pandas `concat()` function does not have `“on”` parameter.

B and C are incorrect because the code will not execute and an `error message` will be displayed instead.

Please review Lesson 4.5 (pandas DataFrames Concatenation and Merging) and the documentation at https://pandas.pydata.org/docs/reference/api/pandas.concat.html (opens in a new tab) to learn more.


<hr>

**Question 7 of 7**
True or False: The `df.describe()` method is used to obtain a statistical summary about the pandas DataFrame df.


A. True

B. False



**Solution**

A is the correct answer because the describe method is used to obtain a statistical summary of the pandas DataFrame.

Please review Lesson 4.1 (Introduction to Data Analysis with pandas) to learn more.


<hr>

# UNIT 5 INTRODUCTION AND WELCOME MESSAGE
Welcome to the final capstone project. Please note that you will be using the same Notebook throughout this entire unit. The link to this Notebook will be provided in every lesson. Be sure to save your Notebook as you proceed through the lessons.

In this capstone project, we will apply your Python programming skills to the process of portfolio optimization.

Portfolio optimization is the process of selecting the best portfolio out of a set of available portfolios with the goal of maximizing returns and reducing risks.

This case study covers many programming fundamentals that we covered in previous lessons, such as getting real-world market financial data, performing data analysis with pandas, and leveraging functions, loops, and if-else statements.

There are 11 lessons in this unit:

* Lesson 5.1 - Import Key Libraries and Datasets
* Lesson 5.2 - Calculate Percentage Daily Returns
* Lesson 5.3 - Perform Data Visualization for a Single Stock: Part 1
* Lesson 5.4 - Perform Data Visualization for a Single Stock: Part 2
* Lesson 5.5 - Perform Data Visualization for a Single Stock: Part 3
* Lesson 5.6 - Perform Data Visualization for Multiple Stocks
* Lesson 5.7 - Random Portfolio Weights Generation
* Lesson 5.8 - Perform Asset Allocation
* Lesson 5.9 - Define the Simulation Engine Function
* Lesson 5.10 - Run Monte Carlo Simulations
* Lesson 5.11 - Perform Portfolio Optimization

### UNIT 5 FINAL CAPSTONE PROJECT OVERVIEW
In this lesson, you will be provided with an overview of the final capstone project. In this capstone project, we will perform portfolio analysis, visualization, and optimization.